.button {
  padding: calc(var(--spacing) / 2) var(--spacing);
  background-color: var(--lilac);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-12);
  line-height: 1.2;
  max-height: calc((var(--font-size-12) * 1.2) + var(--spacing));
  display: inline-block;
}

@media (min-width: 20em) {
  .button {
    font-size: var(--font-size-16);
    max-height: calc(var(--font-size-16) * 1.2 + var(--spacing));
  }
}

@media all and (min-width: 46.875em) {
  .button {
    font-size: var(--font-size-20);
    max-height: calc((var(--font-size-20) * 1.2) + var(--spacing));
  }
}

.button-curly-braces {
  background-color: black;
  color: white;
  -webkit-clip-path: url(#button-curly-braces);
  clip-path: url(#button-curly-braces);
  display: inline-block;
  min-width: 150px;
  text-align: center;
}

.button-parentheses {
  background-color: black;
  color: white;
  -webkit-clip-path: url(#button-parentheses);
  clip-path: url(#button-parentheses);
  display: inline-block;
  min-width: 150px;
  text-align: center;
}

.button-greater-than {
  background-color: black;
  color: white;
  -webkit-clip-path: url(#button-greater-than);
  clip-path: url(#button-greater-than);
  display: inline-block;
  min-width: 150px;
  text-align: center;
}

.button-wrapper {
  display: flex;
  padding-block-start: var(--spacing);
  place-content: center;
}
