/* for inspiration, perhaps also look at    
    src/_includes/partials/homepage/home-hero.css . 
    Or see if you can do it better and apply your learnings there too :-) 
    Check here for the design: https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/bd345fab-b868-4180-8bb3-05f62375d54d/
*/

.blog-hero .hero-lable {
  text-transform: uppercase;
}

.blog-hero .hero--hero {
  position: relative;
  inline-size: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  margin: 0;
}

.blog-hero .hero-image-wrapper {
  left: 8rem;
  top: 0;
  z-index: 1;
  position: absolute;
  width: 16rem;
}

.blog-hero .hero-content-wrapper::after {
  inline-size: 100%;
  block-size: 10rem;
  padding-block-end: 0px;
  content: " ";
  display: block;
  background-color: var(--yellow);
  background-size: cover;
  -webkit-clip-path: url(#parenthesis-down-tiny);
  clip-path: url(#parenthesis-down-tiny);
}

.blog-hero .hero-main-content {
  position: absolute;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 180px;
}

.blog-hero .hero-main-content .h {
  max-width: calc(50% - 10rem);
  margin: 1rem auto;
}

.blog-hero .hero-main-container {
  line-height: 2rem;
  background-color: var(--yellow);
  margin-block-start: 0;
  height: 150px;
}

.blog-hero .hero-main-container p {
  margin: 0;
}

.blog-hero .hero-image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  webkit-clip-path: url(#curly-brace-down-small);
  clip-path: url(#curly-brace-down-small);
}

@media all and (max-width: 72.5em) {
  .blog-hero .hero-main-content {
    padding-left: 24rem;
  }

  .blog-hero .hero-main-content .h {
    max-width: 100%;
  }
}

@media all and (max-width: 46.875em) {
  .blog-hero .hero-image::after {
    content: none;
  }

  .blog-hero .hero-image-wrapper {
    /* -2px is to hide the white space */
    position: relative;
    left: -2px;
    width: calc(100% + 2px);
  }

  .blog-hero .hero-main-container {
    margin-block-start: 10rem;
    padding: calc(2 * var(--spacing)) calc(11 * var(--spacing));
    margin-block-start: -3rem;
    height: 180px;
  }

  .blog-hero .hero-content-wrapper::after {
    block-size: 5rem;
  }

  .blog-hero .hero--hero p {
    padding: 1rem;
  }

  .blog-hero .hero-main-content {
    padding-left: 0;
    top: auto;
    bottom: auto;
  }

  .blog-hero .hero-main-content .h {
    max-width: 100%;
  }

  .blog-hero .hero-image {
    height: 250px;
  }
}
