<!-- variant of src/_includes/partials/homepage/home-hero.liquid.
    Take a look at that one, to see if it's more recent/better, or 
    could benefit from anything you learned here :-)  
    Check here for the design: https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/eec3a419-36af-4c47-bff2-5b7af91160fc/ -->

<section class="outer-wrapper blog-hero">
    <div class="hero-graphic">
        <div class="hero-content">
            {{ blockContent }}
        </div>
    </div>
</section>
