fieldset {
  border: 0;
  padding: 0;
  border-top: 2px solid var(--lilac);
}

fieldset:not(:first-child) {
  margin-block-start: var(--spacing-double);
}

fieldset > :not(legend) {
  padding-inline-start: var(--spacing);
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  padding-inline: var(--spacing-half);    
  margin-block-end: var(--spacing);
}

.form-element {
  margin-block-end: var(--spacing);
}

label {
  display: block;
  font-weight: bold;
  margin-block-end: var(--spacing-half);
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: var(--spacing-half);
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  height: 120px;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form ul li {
  margin-block-end: var(--spacing-half);
}

form input[type="radio"] {
  margin-right: var(--spacing-half);
}

form em {
  margin-block-start: var(--spacing-half);
  font-style: italic;
  font-weight: normal;
  display: block;
}

/* Adjustments for spacing and alignment */
form p.submit {
  text-align: center;
  margin-top: var(--spacing-double);
}
