:root {
  --font-family-decoration: Fabrik;
  --font-family-content: Roboto;
  font-size: 16px;

  --font-size-12: 0.75rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;

  --line-spacing-14: 0.875;
  --line-spacing-24: 1.5;
  --line-spacing-27: 1.6875;
  --line-spacing-30: 1.875;
  --line-spacing-36: 2.25;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.275;
  font-family: var(--font-family-decoration), sans-serif;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-family: var(--font-family-decoration), sans-serif;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: var(--font-family-decoration), sans-serif;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: var(--font-family-content), sans-serif;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  color: var(--purple-wcag-darker);
}

a:hover,
a:focus {
  color: white;
  background-color: var(--purple-wcag-darker);
  text-decoration: none;
}

.tag-link {
    display: inline-block;
    text-decoration: none;
}

.tag-link--large .tag { 
    font-size: var(--font-size-14);
}

.tag-link:first-of-type .tag {
    margin-inline-start: 0;
}

.tag-link:last-of-type .tag {
    margin-inline-end: 0;
}

.tag-link:hover,
.tag-link:focus {
    background-color: transparent;
    color: white;
}
    .tag-link:hover .tag,
    .tag-link:focus .tag,
    .tag-link:hover .tag::before,
    .tag-link:focus .tag::before,
    .tag-link:hover .tag::after,
    .tag-link:focus .tag::after {
        background: var(--purple-wcag-darker);
    }

    .tag-link:focus-within .tag,
    .tag-link:focus-within .tag::after,
    .tag-link:focus-within .tag::before {
        background: var(--purple-wcag-darker);
        color: white;
    }
    
.h {
  font-family: var(--font-family-decoration);
}

.h a {
  color: inherit;
  text-decoration: none;
}

.h a:hover,
.h a:focus {
  text-decoration: underline;
  background-color: inherit;
}
