#navigation {
    transform: translateX(200vw);
    position: absolute;
    display: none;
    padding-inline-start: var(--spacing-half);
}

#navigation:target {
    transform: none;
    position: inherit;
    scroll-margin-top: 8rem;
}

@media all and (min-width: 46.875em) { 
    #navigation {
        transform: none;
        position: inherit;
        padding-inline-start: inherit;
    }
}
