<section class="placeholder-block inner-wrapper">
    {% include utility/dynamic-headerlevel level:headerlvl title:"Active vacancies" %}
    <ul role="list" class="list-rows">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</section>
