<section class="placeholder-block inner-wrapper">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Active vacancies" %}
    <ul class="list-rows">
        {% for job in jobs %}
            {% unless job.data.draft == true %}
            <li>
                {% include partials/job %}
            </li>
            {% endunless %}
        {%- endfor -%}
    </ul>
</section>
