<section class="inner-wrapper">
    <div class="greater-than-bg">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Check out our conference" %}
    </div>
    <div class="curly-braces-bg">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Check out our conference" %}
    </div>
    <div class="parentheses-bg">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Check out our conference" %}
    </div>
</section>
