.home-hero {
  background: var(--yellow);
  width: 990px;
  height: 400px;
  text-align: center;
  -webkit-clip-path: polygon(
    3% 0%,
    91% 0%,
    91% 60%,
    91% 67%,
    89% 71%,
    87% 74%,
    84% 78%,
    79% 79%,
    55% 79%,
    53% 80%,
    51% 84%,
    50% 88%,
    49% 92%,
    45% 92%,
    45% 88%,
    44% 83%,
    41% 80%,
    35% 79%,
    27% 79%,
    20% 79%,
    13% 79%,
    8% 76%,
    4% 71%,
    3% 63%
  );
  clip-path: polygon(
    3% 0%,
    91% 0%,
    91% 60%,
    91% 67%,
    89% 71%,
    87% 74%,
    84% 78%,
    79% 79%,
    55% 79%,
    53% 80%,
    51% 84%,
    50% 88%,
    49% 92%,
    45% 92%,
    45% 88%,
    44% 83%,
    41% 80%,
    35% 79%,
    27% 79%,
    20% 79%,
    13% 79%,
    8% 76%,
    4% 71%,
    3% 63%
  );
}
