<section class="inner-wrapper">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Latest blogs" %}
    <ul class="list-rows">
        {%- for post in blogposts -%}
        {% unless post.data.draft == true %}
            <li>
                {% include partials/blogpost %}
            {% endunless %}
            </li>
        {%- endfor -%}
    </ul>
</section>
