<section class="placeholder-block inner-wrapper">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Proud members" %}
    <ul class="list-columns">
        {%- for member in members -%}
            <li>
                {% include partials/member %}
            </li>
        {%- endfor -%}
    </ul>
</section>
