ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 500px) {
  .list-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing);
    margin-bottom: 0;
  }
}
