<section class="placeholder-block inner-wrapper">
    {% include utility/dynamic-headerlevel level:headerlvl title:"Upcoming Events" %}
    <ol class="list-columns">
        {%- for post in collections.events -%}
            <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ol>
</section>
