<section class="placeholder-block inner-wrapper">
    {% include partials/dynamic-headerlevel level:headerlvl title:"Upcoming Events" %}
    <ol class="list-columns">
        {%- for event in events -%}
            <li>
                {% include partials/event %}
            </li>
        {%- endfor -%}
    </ol>
</section>
