{% include utility/html-head %}
<body>
    <div class="outer-wrapper">
        {% include page-header/_page-header %}

        <main class="page-content inner-wrapper">
            <h2>{{ title }}</h2>
            {{ content }}

            {%- for post in collections.events -%}
                <p>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                </p>
            {%- endfor -%}
            
        </main>
 
        {% include page-footer/_page-footer %}
    </div>
</body>
</html>
