<div data-partial="freelancers/loop-freelancers-specialties" class="categories">
    {%- include partials/utility/dynamic-headerlevel level: headerlvl title: translations[locale].specialties -%}

    <ul role="list" class="category-list">
        {%- for specialty in collections.memberSpecialties -%}
            <li>
                <a href="/{{ translations[locale].membersURL }}/{{ translations[locale].specialty }}/{{ specialty.slug }}" class="tag-link tag-link--large">{%- tag specialty.title -%}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</div>
