<section data-partial="homepage/active-vacancies" class="inner-wrapper">
    {%- include partials/utility/dynamic-headerlevel level: headerlvl title: partialTitle -%}
    <ul class="desktop-rows mobile-slider">
        {%- assign today = "now" | date: "%Y%m%d" -%}
        {%- assign twoMonthsAgo = "now" | date: "%Y%m%d" | minus: 200 -%} 
        
        {%- for job in jobs limit: 10 -%}
            {%- assign jobDate = job.data.date | date: "%Y%m%d" | plus: 0 -%}
            {%- if jobDate >= twoMonthsAgo -%}
            
                <li class="list-item list-item--job">
                    {%- include partials/job headerlvl: "h3" index: forloop.index -%}
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>

    <div class="button-wrapper">
        <a href="{{ translations[locale].blockTitles.jobsPath }}" class="button button-parentheses">
            {{ translations[locale].blockTitles.viewOurJobs }}
        </a>
    </div>
</section>
