<section data-partial="homepage/banner-darkmode" class="inner-wrapper no-padding banner-darkmode-wrapper">
    <div class="banner-darkmode__container curly-braces-bg">
        <div class="banner-darkmode__content">
            <h2 class="banner-darkmode__title">
                {{ bannerTitle }}
            </h2>
            <p class="banner-darkmode__description">
                {{ bannerDescription }}
            </p>
            <a class="banner-darkmode__link button button-parentheses" href="{{ bannerLink }}">
                {{ bannerButtonText }}!
            </a>
        </div>
    </div>
</section>
