<section class="inner-wrapper">
    {% include partials/utility/dynamic-headerlevel level:headerlvl title:partialTitle link:"https://vimeo.com/fronteers" %}
    <a class="greater-than-bg banner-conference" href="https://vimeo.com/fronteers">
        <span class="visually-hidden">{{ site[locale].goToVimeo }}</span>
        {% include svg/button_play.svg %}
    </a>
</section>
