<section data-partial="homepage/member-special" class="inner-wrapper member-special">
    <div class="curly-braces">
        {%- include partials/utility/dynamic-headerlevel level: headerlvl title: partialTitle -%}
    </div>
</section>
