<section data-partial="homepage/upcoming-activities" class="inner-wrapper upcoming-activities">
    {%- include partials/utility/dynamic-headerlevel level: headerlvl title: partialTitle -%}
    <ol class="activity-calendar-items">
        {%- for activity in upcomingActivities limit: 3 -%}
            {%- assign index = forloop.index | modulo: 3 -%}
            <li class="list-item">
                {%- include partials/activity-calendar-item headerlvl: "h3" index: index pastActivity: false -%}
            </li>
        {%- endfor -%}
    </ol>

    <div class="button-wrapper">
        <a href="/{{ translations[locale].activitiesURL }}" class="button button-parentheses">
            {{ translations[locale].blockTitles.viewAllEvents }}</a>
    </div>
</section>
