/* for inspiration, perhaps also look at    
    src/_includes/partials/homepage/home-hero.css . 
    Or see if you can do it better and apply your learnings there too :-) 
    Check here for the design: 
    https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/f38cbe49-ff62-428b-8bb0-c6c29d831bac/
*/

.activities-hero { 
    position: relative;
}

.activities-hero-graphic {
  inline-size: 100%;
  max-width: 41.25rem;
  text-align: center;
  margin: 0px auto;
}

.activities-hero-graphic::after {
  inline-size: 100%;
  block-size: 0;
  padding-block-end: 22.8%;
  content: " ";
  display: block;
  background-color: var(--lilac);
  background-size: cover;
  -webkit-clip-path: url(#greater-than-down-tiny);
  clip-path: url(#greater-than-down-tiny);
}

.activities-hero-content > :first-child {
  margin-block-start: 0;
  text-transform: none;
}

.activities-hero-content {
  background-color: var(--yellow);
  padding: var(--spacing);
}

.activities-hero-graphic-wrapper {
    height: 307px;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img-background {
    background: white;
    flex: 0 0 78%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities-hero-graphic-img {
    max-width: 120px;
    max-height: 120px;
}

.img-background--bottom {
    inline-size: 100%;
    block-size: 0;
    padding-block-end: 30%;
    content: " ";
    display: block;
    background-color: white;
    background-size: cover;
    -webkit-clip-path: url(#curly-brace-down-tiny);
    clip-path: url(#curly-brace-down-tiny);
    position: absolute;
    bottom: 0;
}

.activities-hero .h {
    text-transform: none;
}

.activities-hero .sup-title {
    display: block;
    text-transform: uppercase;
    margin-bottom: var(--spacing);
}

.activities-hero a:hover .sup-title {
    text-decoration: none;
    cursor: pointer;
}

.activities-hero .activity-location {
    color: black;
}

.activities-hero .activity-time-and-location-wrapper {
    margin: 0px auto;
    align-content: center;
    justify-content: center;
    display: flex;
}

.activities-hero .activity-time-and-location-wrapper * {
    line-height: 1.33;
}

.activities-hero .activity-time {
    margin-inline-end: var(--spacing);
}

.activities-hero a {
    color: black; /** temporary fix for low contrast */
}

@media all and (min-width: 46.875em) {
  .activities-hero .inner-wrapper {
      padding-block-start: 0;
  }
  
  .activities-hero-content-grid {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
  }

  .activities-hero-graphic {
    padding-block-end: 5rem;
    padding-block-start: 0;
    padding-inline-end: calc(3 * var(--spacing));
    padding-inline-start: calc(3 * var(--spacing));
    background-size: cover;
    inline-size: 100%;
    max-width: 100%;
    background-color: var(--lilac);
    /* -webkit-clip-path: url(#greater-than-down-small);
    clip-path: url(#greater-than-down-small); */
    -webkit-clip-path: url(#greater-than-close-large);
    clip-path: url(#greater-than-close-large);
  }

  .activities-hero-content::after {
    content: none;
  }

  .activities-hero-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background: transparent;
      padding: 0;
  }

  .activities-hero-content-wrapper {
      padding-block-start: calc(2 * var(--spacing));
  }

}
