/**
    also see https://github.com/fronteers/website/issues/76
    or for the design: 
    https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/f38cbe49-ff62-428b-8bb0-c6c29d831bac/
**/

.category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-block-end: var(--spacing);
}

.category-list li {
    display: inline-block;
    padding-block-end: var(--spacing-half);
    padding-inline-end: var(--spacing-half);
}
