<div data-partial="activities/loop-activity-categories" class="categories">
    {%- include partials/utility/dynamic-headerlevel level: "h3" title: translations[locale].categories -%}

    <ul role="list" class="category-list">
        {% assign collectionKey = "activity_categories_" | append: locale %}
        {%- for category in collections[collectionKey] -%}
            <li>
                <a href="/{{ translations[locale].activitiesURL }}/{{ translations[locale].category }}/{{ category.slug }}" class="tag-link tag-link--large">{%- tag category.title -%}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</div>
