.tag {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 0 1em;
  background: var(--lilac-light);
  font-size: var(--font-size-12);
}

/* Angled tags, like with < and > */
.tag-angle {
  -webkit-clip-path: url(#button-greater-than);
  clip-path: url(#button-greater-than);
}

/* Rounded tags, like with ( and ) */
.tag-parentheses {
  -webkit-clip-path: url(#button-parentheses);
  clip-path: url(#button-parentheses);
}

/* Rounded tags, like with { and } */
.tag-curly-braces {
   -webkit-clip-path: url(#button-curly-braces);
  clip-path: url(#button-curly-braces);
}

.tag + .tag {
  margin-inline-start: 2em;
}
