---
layout: 'base'
---
{%- pagehero 'jobs' title content -%}

<div data-layout='jobs-home' class='inner-wrapper'>
    {%- include 'partials/jobs/loop-job-categories', headerlvl: 'h3' -%}

    <ul class='desktop-rows mobile-slider'>
        {%- for job in pagination.items limit: pagination.size -%}
            <li class='list-item mobile-slider-item'>
                {%- include 'partials/job', headerlvl: 'h3', index: forloop.index -%}
            </li>
        {%- endfor -%}
    </ul>

    {%- include 'partials/pagination' -%}
</div>
