{%- include partials/utility/html-head -%}
<body>
    {%- include partials/page-header/_page-header -%}

    <main class="inner-wrapper {% if useHero %}styledheader{% endif %}">
        <div class="page-content">
            {% unless useHero %}
            <h2>{{ title }}</h2>
        {% endunless %}  
            {{ content }}
        </div>
    </main>

    {%- include partials/utility/edit-this-page -%}

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
