{% include partials/utility/html-head %}

<body>
    <div class="outer-wrapper">
        {% include partials/page-header/_page-header %}

        <main class="page-content inner-wrapper">
            <h2>{{ title }}</h2>
            {{ content }}

            <ol class="desktop-columns">
                {%- for activity in activities limit:8 -%}
                    <li class="list-item">
                        {% include partials/activity headerlvl:"h3" %}
                    </li>
                {%- endfor -%}
            </ol>

            {% if pagination.pageLinks.length > 1 %}
              <nav class="pagination">
                {% if pagination.previousPageLink %}
                  <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
                {% else %}
                  <span class="pagination__item">Newer Articles</span>
                {% endif %}

                {% if pagination.nextPageLink %}

                  <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
                {% else %}
                  <span class="pagination__item">Older Articles</span>
                {% endif %}
              </nav>
            {% endif %}
        </main>
 
        {% include partials/page-footer/_page-footer %}
    </div>
</body>
</html>
