{%- include partials/utility/html-head -%}
    <body data-layout='base'>
        <div class='layout' role='document'>
            {% include partials/page-header/_page-header %}
            

            <main id='main' class='main'>
                {{ content | safe }}
            </main>

            {% include partials/page-footer/_page-footer %}
        </div>

        <script type='module' src='{{ '/assets/js/main.js' | url }}'></script>
    </body>
</html>
