{%- include partials/utility/html-head -%}
<body data-layout="conference">
    {%- include partials/page-header/_page-header -%}

    <main id="main" class="{% if useHero %}styledheader{% endif %}">
        {%- pagehero 'conference' title heroSlogan -%}

        <div class="inner-wrapper"> 
            <div class="page-content">
                {{ content }}
            </div>
        </div>
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
