{%- include partials/utility/html-head -%}
<body data-layout="darkmode2026home">
    {%- include partials/page-header/_page-header -%}

        {%- if locale == "nl" -%}
            {%- include partials/navigation nav_location: "header" nav_description: "Congresnavigatie" nav_selection: navigation.header.nl.congresnavigatie -%}
        {%- elsif locale == "en" -%}
            {%- include partials/navigation nav_location: "header" nav_description: "Conference navigation" nav_selection: navigation.header.en.congresnavigatie -%}
        {%- endif -%}

    <main id="main">
        <div class="inner-wrapper">
            <section class="announcer full-width">
                <div class="announcer__content">
                <h2 class="announcer__headline headline">
                    Friday night. Frontend.<br /> 
                    Fronteers Dark Mode!</h2>
                <p class="announcer__text">
                Join us on Friday, October 2nd, 2025, at Cinema De Witt in Dordrecht for an intimate evening of frontend talks and community vibes – from 4PM to after midnight.</p>
                </div>
            </section>
        
            <section class="narrow-width">
                <ul class="speakers full-width">
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/cE-08p5sdk-100.avif 100w, /img/cE-08p5sdk-200.avif 200w, /img/cE-08p5sdk-300.avif 300w, /img/cE-08p5sdk-400.avif 400w, /img/cE-08p5sdk-500.avif 500w, /img/cE-08p5sdk-600.avif 600w, /img/cE-08p5sdk-800.avif 800w, /img/cE-08p5sdk-1000.avif 1000w, /img/cE-08p5sdk-1200.avif 1200w, /img/cE-08p5sdk-1600.avif 1600w, /img/cE-08p5sdk-2000.avif 2000w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/cE-08p5sdk-100.jpeg 100w, /img/cE-08p5sdk-200.jpeg 200w, /img/cE-08p5sdk-300.jpeg 300w, /img/cE-08p5sdk-400.jpeg 400w, /img/cE-08p5sdk-500.jpeg 500w, /img/cE-08p5sdk-600.jpeg 600w, /img/cE-08p5sdk-800.jpeg 800w, /img/cE-08p5sdk-1000.jpeg 1000w, /img/cE-08p5sdk-1200.jpeg 1200w, /img/cE-08p5sdk-1600.jpeg 1600w, /img/cE-08p5sdk-2000.jpeg 2000w" sizes="9.375rem"><img alt="Picture of Bramus van Damme" loading="lazy" decoding="async" fetchpriority="auto" src="/img/cE-08p5sdk-100.jpeg" width="2000" height="2000"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/bramus-van-damme/" class="card__link">
                        <h3 class="card__headline headline">Bramus van Damme</h3>
                        MC</a>
                    </figcaption>
                    </figure>
                </li>
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/OO_CY9chwa-100.avif 100w, /img/OO_CY9chwa-200.avif 200w, /img/OO_CY9chwa-300.avif 300w, /img/OO_CY9chwa-400.avif 400w, /img/OO_CY9chwa-500.avif 500w, /img/OO_CY9chwa-600.avif 600w, /img/OO_CY9chwa-800.avif 800w, /img/OO_CY9chwa-1000.avif 1000w, /img/OO_CY9chwa-1200.avif 1200w, /img/OO_CY9chwa-1600.avif 1600w, /img/OO_CY9chwa-2000.avif 2000w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/OO_CY9chwa-100.jpeg 100w, /img/OO_CY9chwa-200.jpeg 200w, /img/OO_CY9chwa-300.jpeg 300w, /img/OO_CY9chwa-400.jpeg 400w, /img/OO_CY9chwa-500.jpeg 500w, /img/OO_CY9chwa-600.jpeg 600w, /img/OO_CY9chwa-800.jpeg 800w, /img/OO_CY9chwa-1000.jpeg 1000w, /img/OO_CY9chwa-1200.jpeg 1200w, /img/OO_CY9chwa-1600.jpeg 1600w, /img/OO_CY9chwa-2000.jpeg 2000w" sizes="9.375rem"><img alt="Picture of Brecht de Ruyte" loading="lazy" decoding="async" fetchpriority="auto" src="/img/OO_CY9chwa-100.jpeg" width="2000" height="2000"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/brecht-de-ruyte/" class="card__link">
                        <h3 class="card__headline headline">Brecht de Ruyte</h3>
                        The Future of UI is Open</a>
                    </figcaption>
                    </figure>
                </li>
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/uVByprnhPi-100.avif 100w, /img/uVByprnhPi-200.avif 200w, /img/uVByprnhPi-300.avif 300w, /img/uVByprnhPi-400.avif 400w, /img/uVByprnhPi-500.avif 500w, /img/uVByprnhPi-600.avif 600w, /img/uVByprnhPi-800.avif 800w, /img/uVByprnhPi-1000.avif 1000w, /img/uVByprnhPi-1200.avif 1200w, /img/uVByprnhPi-1600.avif 1600w, /img/uVByprnhPi-2000.avif 2000w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/uVByprnhPi-100.jpeg 100w, /img/uVByprnhPi-200.jpeg 200w, /img/uVByprnhPi-300.jpeg 300w, /img/uVByprnhPi-400.jpeg 400w, /img/uVByprnhPi-500.jpeg 500w, /img/uVByprnhPi-600.jpeg 600w, /img/uVByprnhPi-800.jpeg 800w, /img/uVByprnhPi-1000.jpeg 1000w, /img/uVByprnhPi-1200.jpeg 1200w, /img/uVByprnhPi-1600.jpeg 1600w, /img/uVByprnhPi-2000.jpeg 2000w" sizes="9.375rem"><img alt="Picture of Dylan Beattie" loading="lazy" decoding="async" fetchpriority="auto" src="/img/uVByprnhPi-100.jpeg" width="2000" height="2000"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/dylan-beattie/" class="card__link">
                        <h3 class="card__headline headline">Dylan Beattie</h3>
                        How To Be a Rockstar Developer</a>
                    </figcaption>
                    </figure>
                </li>
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/kfbG17lj3a-100.avif 100w, /img/kfbG17lj3a-200.avif 200w, /img/kfbG17lj3a-300.avif 300w, /img/kfbG17lj3a-400.avif 400w, /img/kfbG17lj3a-500.avif 500w, /img/kfbG17lj3a-600.avif 600w, /img/kfbG17lj3a-800.avif 800w, /img/kfbG17lj3a-1000.avif 1000w, /img/kfbG17lj3a-1200.avif 1200w, /img/kfbG17lj3a-1600.avif 1600w, /img/kfbG17lj3a-2000.avif 2000w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/kfbG17lj3a-100.jpeg 100w, /img/kfbG17lj3a-200.jpeg 200w, /img/kfbG17lj3a-300.jpeg 300w, /img/kfbG17lj3a-400.jpeg 400w, /img/kfbG17lj3a-500.jpeg 500w, /img/kfbG17lj3a-600.jpeg 600w, /img/kfbG17lj3a-800.jpeg 800w, /img/kfbG17lj3a-1000.jpeg 1000w, /img/kfbG17lj3a-1200.jpeg 1200w, /img/kfbG17lj3a-1600.jpeg 1600w, /img/kfbG17lj3a-2000.jpeg 2000w" sizes="9.375rem"><img alt="Picture of Erwin Hofman" loading="lazy" decoding="async" fetchpriority="auto" src="/img/kfbG17lj3a-100.jpeg" width="2000" height="2000"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/erwin-hofman/" class="card__link">
                        <h3 class="card__headline headline">Erwin Hofman</h3>
                        Web performance in 2025: putting real UX first</a>
                    </figcaption>
                    </figure>
                </li>
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/Fsy0YSd4EC-100.avif 100w, /img/Fsy0YSd4EC-200.avif 200w, /img/Fsy0YSd4EC-300.avif 300w, /img/Fsy0YSd4EC-400.avif 400w, /img/Fsy0YSd4EC-500.avif 500w, /img/Fsy0YSd4EC-600.avif 600w, /img/Fsy0YSd4EC-800.avif 800w, /img/Fsy0YSd4EC-1000.avif 1000w, /img/Fsy0YSd4EC-1200.avif 1200w, /img/Fsy0YSd4EC-1600.avif 1600w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/Fsy0YSd4EC-100.jpeg 100w, /img/Fsy0YSd4EC-200.jpeg 200w, /img/Fsy0YSd4EC-300.jpeg 300w, /img/Fsy0YSd4EC-400.jpeg 400w, /img/Fsy0YSd4EC-500.jpeg 500w, /img/Fsy0YSd4EC-600.jpeg 600w, /img/Fsy0YSd4EC-800.jpeg 800w, /img/Fsy0YSd4EC-1000.jpeg 1000w, /img/Fsy0YSd4EC-1200.jpeg 1200w, /img/Fsy0YSd4EC-1600.jpeg 1600w" sizes="9.375rem"><img alt="Picture of Karlijn Löwik" loading="lazy" decoding="async" fetchpriority="auto" src="/img/Fsy0YSd4EC-100.jpeg" width="1600" height="1600"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/karlijn-loewik/" class="card__link">
                        <h3 class="card__headline headline">Karlijn Löwik</h3>
                        Web performance in 2025: putting real UX first</a>
                    </figcaption>
                    </figure>
                </li>
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/_flCUyQCm9-100.avif 100w, /img/_flCUyQCm9-200.avif 200w, /img/_flCUyQCm9-300.avif 300w, /img/_flCUyQCm9-400.avif 400w, /img/_flCUyQCm9-500.avif 500w, /img/_flCUyQCm9-600.avif 600w, /img/_flCUyQCm9-800.avif 800w, /img/_flCUyQCm9-1000.avif 1000w, /img/_flCUyQCm9-1200.avif 1200w, /img/_flCUyQCm9-1600.avif 1600w, /img/_flCUyQCm9-2000.avif 2000w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/_flCUyQCm9-100.jpeg 100w, /img/_flCUyQCm9-200.jpeg 200w, /img/_flCUyQCm9-300.jpeg 300w, /img/_flCUyQCm9-400.jpeg 400w, /img/_flCUyQCm9-500.jpeg 500w, /img/_flCUyQCm9-600.jpeg 600w, /img/_flCUyQCm9-800.jpeg 800w, /img/_flCUyQCm9-1000.jpeg 1000w, /img/_flCUyQCm9-1200.jpeg 1200w, /img/_flCUyQCm9-1600.jpeg 1600w, /img/_flCUyQCm9-2000.jpeg 2000w" sizes="9.375rem"><img alt="Picture of Rune Devuyst" loading="lazy" decoding="async" fetchpriority="auto" src="/img/_flCUyQCm9-100.jpeg" width="2000" height="2000"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/rune-devuyst/" class="card__link">
                        <h3 class="card__headline headline">Rune Devuyst</h3>
                        The Dark Side of Bright Colours: The Impact of Your Colour Choices</a>
                    </figcaption>
                    </figure>
                </li>
                <li class="speakers__item">
                    <figure class="card">
                    <picture><source type="image/avif" srcset="/img/ng2Bmd1oYh-100.avif 100w, /img/ng2Bmd1oYh-200.avif 200w, /img/ng2Bmd1oYh-300.avif 300w, /img/ng2Bmd1oYh-400.avif 400w, /img/ng2Bmd1oYh-500.avif 500w, /img/ng2Bmd1oYh-600.avif 600w, /img/ng2Bmd1oYh-800.avif 800w, /img/ng2Bmd1oYh-1000.avif 1000w, /img/ng2Bmd1oYh-1200.avif 1200w, /img/ng2Bmd1oYh-1600.avif 1600w" sizes="9.375rem"><source type="image/jpeg" srcset="/img/ng2Bmd1oYh-100.jpeg 100w, /img/ng2Bmd1oYh-200.jpeg 200w, /img/ng2Bmd1oYh-300.jpeg 300w, /img/ng2Bmd1oYh-400.jpeg 400w, /img/ng2Bmd1oYh-500.jpeg 500w, /img/ng2Bmd1oYh-600.jpeg 600w, /img/ng2Bmd1oYh-800.jpeg 800w, /img/ng2Bmd1oYh-1000.jpeg 1000w, /img/ng2Bmd1oYh-1200.jpeg 1200w, /img/ng2Bmd1oYh-1600.jpeg 1600w" sizes="9.375rem"><img alt="Picture of Thorsten Jonas" loading="lazy" decoding="async" fetchpriority="auto" src="/img/ng2Bmd1oYh-100.jpeg" width="1600" height="1600"></picture>
                    <figcaption class="card__caption">
                        <a href="/speakers/thorsten-jonas/" class="card__link">
                        <h3 class="card__headline headline">Thorsten Jonas</h3>
                        Beyond User-Centricity - Designing sustainable digital Products</a>
                    </figcaption>
                    </figure>
                </li>
                </ul>
            </section>

            <section class="cta">
                <h3 class="cta__headline headline">Tickets available for just<strong>€&nbsp;99</strong>
                </h3>
                <p class="discount">Fronteers members get a<strong>€&nbsp;50</strong>
                discount!</p>
                <p>
                <a class="cta__button button" href="/tickets/">Get your tickets now!</a>
                </p>
                <small class="cta__smallpint">
                Ticket prices are including VAT.</small>
            </section>

            <section class="narrow-width">
                <h3 class="headline">About Fronteers Dark Mode</h3>
                <p>
                Fronteers Dark Mode is a cozy, single-track afterwork front-end conference by and for the community. Taking place on Friday, October 3rd, 2025 at the atmospheric Cinema De Witt in Dordrecht, it offers an evening of inspiring talks on accessibility, sustainability, HTML, CSS – and a nerdy late-night finale.</p>
            </section>

            <picture class="hero limited-width">
                <picture><source type="image/avif" srcset="/img/QruFK9wS1y-100.avif 100w, /img/QruFK9wS1y-200.avif 200w, /img/QruFK9wS1y-300.avif 300w, /img/QruFK9wS1y-400.avif 400w, /img/QruFK9wS1y-500.avif 500w, /img/QruFK9wS1y-600.avif 600w, /img/QruFK9wS1y-800.avif 800w, /img/QruFK9wS1y-1000.avif 1000w, /img/QruFK9wS1y-1200.avif 1200w, /img/QruFK9wS1y-1600.avif 1600w, /img/QruFK9wS1y-2000.avif 2000w" sizes="100vw"><source type="image/jpeg" srcset="/img/QruFK9wS1y-100.jpeg 100w, /img/QruFK9wS1y-200.jpeg 200w, /img/QruFK9wS1y-300.jpeg 300w, /img/QruFK9wS1y-400.jpeg 400w, /img/QruFK9wS1y-500.jpeg 500w, /img/QruFK9wS1y-600.jpeg 600w, /img/QruFK9wS1y-800.jpeg 800w, /img/QruFK9wS1y-1000.jpeg 1000w, /img/QruFK9wS1y-1200.jpeg 1200w, /img/QruFK9wS1y-1600.jpeg 1600w, /img/QruFK9wS1y-2000.jpeg 2000w" sizes="100vw"><img alt="" loading="eager" decoding="sync" fetchpriority="high" src="/img/QruFK9wS1y-100.jpeg" width="2000" height="1125"></picture>
            </picture>
        
            <div class="page-content">
                {% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}
                
                {% if heroSlogan %}
                    <p class="hero-slogan">{{ heroSlogan }}</p>
                {% endif %}

                {{ content }}
            </div>
        </div>
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>

