{%- include partials/utility/html-head -%}
<body data-layout="form-vacature-plaatsen">
    {%- include partials/page-header/_page-header -%}

    <main id="main" class="{% if useHero %}styledheader{% endif %}">
        {% if useHero == 'aboutushero' %}
            {%- aboutushero title shield -%}
                {{ heroSlogan }}
            {%- endaboutushero -%}
        {% endif %}

        <div class="page-content inner-wrapper">
            {% unless useHero %}
                <h2>{{ title }}</h2>
            {% endunless %}

            {{ content }}

            <form action="/nl/werk-en-freelance/vacature-plaatsen/gelukt" method="post" id="formulier-vacatures" netlify-honeypot="bot-field" netlify>
                <fieldset>
                    <legend>Ik wil een vacature plaatsen</legend>
                    <p class="form-element">
                    <label for="form-1-input-0" class="form-label">Contactpersoon</label>
                    <input type="text" name="Contactpersoon" id="form-1-input-0" class="text" autocomplete="section-contact name" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-1" class="form-label">E-mailadres contactpersoon</label>
                    <input type="email" name="E-mailadres_contactpersoon" id="form-1-input-1" class="text" autocomplete="section-contact work email" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-2" class="form-label">Telefoonnummer</label>
                    <input type="text" name="Telefoonnummer" id="form-1-input-2" class="text" autocomplete="section-contact work tel" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-3" class="form-label">Bedrijfsnaam</label>
                    <input type="text" name="Bedrijfsnaam" id="form-1-input-3" class="text" autocomplete="organization" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-4" class="form-label">Mastodon-account bedrijf <em>optioneel</em></label>
                    <input type="text" name="mastodon-account_bedrijf" id="form-1-input-4" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-4" class="form-label">Bluesky-account bedrijf <em>optioneel</em></label>
                    <input type="text" name="Bluesky-account_bedrijf" id="form-1-input-4" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-4" class="form-label">Instagram-account bedrijf <em>optioneel</em></label>
                    <input type="text" name="instagram-account_bedrijf" id="form-1-input-4" class="text" required>
                    </p>

                  <fieldset>
                    <legend><span>Factuuradres</span></legend>

                    <p class="form-element">
                      <label for="form-1-input-5" class="form-label">Straatnaam</label>
                      <input type="text" id="form-1-input-5" name="address1" autocomplete="address-line1">
                    </p>
                    <p>
                      <input type="text" id="form-1-input-6" name="address2" autocomplete="address-line2">
                    </p>

                    <p class="form-element">
                      <label for="form-1-input-7" class="form-label">Plaats</label>
                      <input type="text" id="form-1-input-7" name="city" autocomplete="address-level2">
                    </p>

                    <p class="form-element">
                      <label for="form-1-input-8" class="form-label">Staat/Provincie</label>
                      <input type="text" id="form-1-input-8" name="state" autocomplete="address-level1">
                    </p>

                    <p class="form-element">
                      <label for="form-1-input-9" class="form-label">Postcode</label>
                      <input type="text" id="form-1-input-9" name="postal" autocomplete="postal-code">
                    </p>

                    <p class="form-element">
                      <label for="country" class="form-label">Land</label>
                      <select id="country" name="country" class="form-control" autocomplete="country-name">
                        <option value="Nederland">Nederland</option>
                        <option value="België">België</option>
                        <option value="---">---</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland">Åland</option>
                        <option value="Albanië">Albanië</option>
                        <option value="Algerije">Algerije</option>
                        <option value="Amerikaans-Samoa">Amerikaans-Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antarctica">Antarctica</option>
                        <option value="Antigua en Barbuda">Antigua en Barbuda</option>
                        <option value="Argentinië">Argentinië</option>
                        <option value="Armenië">Armenië</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australië">Australië</option>
                        <option value="Oostenrijk">Oostenrijk</option>
                        <option value="Azerbeidzjan">Azerbeidzjan</option>
                        <option value="Bahama's">Bahama's</option>
                        <option value="Bahrein">Bahrein</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Wit-Rusland">Wit-Rusland</option>
                        <option value="België">België</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bosnië en Herzegovina">Bosnië en Herzegovina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Bouveteiland">Bouveteiland</option>
                        <option value="Brazilië">Brazilië</option>
                        <option value="Brits Territorium in de Indische Oceaan">Brits Territorium in de Indische Oceaan</option>
                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                        <option value="Bulgarije">Bulgarije</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodja">Cambodja</option>
                        <option value="Kameroen">Kameroen</option>
                        <option value="Canada">Canada</option>
                        <option value="Kaapverdië">Kaapverdië</option>
                        <option value="Kaaimaneilanden">Kaaimaneilanden</option>
                        <option value="Centraal-Afrikaanse Republiek">Centraal-Afrikaanse Republiek</option>
                        <option value="Tsjaad">Tsjaad</option>
                        <option value="Chili">Chili</option>
                        <option value="China">China</option>
                        <option value="Christmaseiland">Christmaseiland</option>
                        <option value="Cocoseilanden">Cocoseilanden</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoren">Comoren</option>
                        <option value="Congo">Congo</option>
                        <option value="Congo, De Democratische Republiek Congo, De Democratische Republiek Congo
                        <option value="Cookeilanden">Cookeilanden</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote D'ivoire">Ivoorkust</option>
                        <option value="Kroatië">Kroatië</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Tsjechië">Tsjechië</option>
                        <option value="Denemarken">Denemarken</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominicaanse Republiek">Dominicaanse Republiek</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypte">Egypte</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatoriaal-Guinea">Equatoriaal-Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estland">Estland</option>
                        <option value="Ethiopië">Ethiopië</option>
                        <option value="Falklandeilanden (Malvinas)">Falklandeilanden (Malvinas)</option>
                        <option value="Faeröer">Faeröer</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="Frankrijk">Frankrijk</option>
                        <option value="Frans-Guyana">Frans-Guyana</option>
                        <option value="Frans-Polynesië">Frans-Polynesië</option>
                        <option value="Franse Zuidelijke Gebieden">Franse Zuidelijke Gebieden</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Duitsland</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Griekenland</option>
                        <option value="Greenland">Groenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Guinee">Guinee</option>
                        <option value="Guinee-Bissau">Guinee-Bissau</option>
                        <option value="Guinee-Bissau">Guinee-Bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haïti">Haïti</option>
                        <option value="Heard en McDonaldeilanden">Heard en McDonaldeilanden</option>
                        <option value="Heilige Stoel (Vaticaanstad)">Heilige Stoel (Vaticaanstad)</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hongkong">Hongkong</option>
                        <option value="Hongarije">Hongarije</option>
                        <option value="IJsland">IJsland</option>
                        <option value="India">India</option>
                        <option value="Indonesië">Indonesië</option>
                        <option value="Iran, Islamitische Republiek">Iran, Islamitische Republiek</option>
                        <option value="Irak">Irak</option>
                        <option value="Ireland">Ierland</option>
                        <option value="Isle of Man">Isle of Man</option>
                        <option value="Israel">Israël</option>
                        <option value="Italy">Italië</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Jordan">Jordanië</option>
                        <option value="Kazachstan">Kazachstan</option>
                        <option value="Kenia">Kenia</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea, Democratische Volksrepubliek">Korea, Democratische Volksrepubliek</option>
                        <option value="Korea, Republiek">Korea, Republiek</option>
                        <option value="Koeweit">Koeweit</option>
                        <option value="Kirgizië">Kirgizië</option>
                        <option value="Laos Democratische Volksrepubliek">Laos Democratische Volksrepubliek</option>
                        <option value="Letland">Letland</option>
                        <option value="Libanon">Libanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libische Arabische Jamahiriya">Libische Arabische Jamahiriya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Litouwen">Litouwen</option>
                        <option value="Luxemburg">Luxemburg</option>
                        <option value="Macau">Macau</option>
                        <option waarde="Macedonië, de Voormalige Joegoslavische Republiek">Macedonië, de Voormalige Joegoslavische Republiek</option>
                        <option waarde="Madagaskar">Madagaskar</option><option value="Malawi">Malawi</option>
                        <option value="Malaysia">Maleisië</option>
                        <option value="Maldiven">Maldiven</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshalleilanden">Marshalleilanden</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritanië">Mauritanië</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesië, Federale Staten van">Micronesië, Federale Staten van</option>
                        <option value="Moldavië, Republiek van">Moldavië, Republiek van</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolië">Mongolië</option>
                        <option value="Montenegro">Montenegro</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Marokko">Marokko</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Namibië">Namibië</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Nederland">Nederland</option>
                        <option value="Nederlandse Antillen">Nederland Antillen</option>
                        <option value="Nieuw-Caledonië">Nieuw-Caledonië</option>
                        <option value="Nieuw-Zeeland">Nieuw-Zeeland</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolkeiland">Norfolkeiland</option>
                        <option value="Noordelijke Marianen">Noordelijke Marianen</option>
                        <option value="Noorwegen">Noorwegen</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Palestijns Gebied, Bezet">Palestijns Gebied, Bezet</option>
                        <option value="Panama">Panama</option>
                        <option value="Papoea-Nieuw-Guinea">Papoea-Nieuw-Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Filipijnen">Filipijnen</option>
                        <option value="Pitcairn">Pitcairn</option>
                        <option value="Polen">Polen</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Réunion">Réunion</option>
                        <option value="Roemenië">Roemenië</option>
                        <option value="Russische Federatie">Russische Federatie</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Sint-Helena">Sint-Helena</option>
                        <option value="Saint Kitts en Nevis">Saint Kitts en Nevis</option>
                        <option value="Saint Lucia">Saint Lucia</option>
                        <option value="Saint-Pierre en Miquelon">Saint-Pierre en Miquelon</option>
                        <option value="Saint Vincent en de Grenadines">Saint Vincent en de Grenadines</option>
                        <option value="Samoa">Samoa</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tomé en Principe">Sao Tomé en Principe</option>
                        <option value="Saoedi-Arabië">Saoedi Arabië</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Servië">Servië</option>
                        <option value="Seychellen">Seychellen</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slowakije">Slowakije</option>
                        <option value="Slovenië">Slovenië</option>
                        <option value="Salomonseilanden">Salomonseilanden</option>
                        <option value="Somalië">Somalië</option>
                        <option value="Zuid-Afrika">Zuid-Afrika</option>
                        <option value="Zuid-Georgia en de Zuidelijke Sandwicheilanden">Zuid-Georgia en de Zuidelijke Sandwicheilanden</option>
                        <option value="Spanje">Spanje</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Soedan">Soedan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Spitsbergen en Jan Mayen">Spitsbergen en Jan Mayen</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Zweden">Zweden</option>
                        <option value="Zwitserland">Zwitserland</option>
                        <option value="Syrische Arabische Republiek">Syrische Arabische Republiek</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Tadzjikistan">Tadzjikistan</option>
                        <option value="Tanzania, Verenigde Republiek">Tanzania, Verenigde Republiek</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Timor-leste">Timor-leste</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad en Tobago">Trinidad en Tobago</option>
                        <option value="Tunesië">Tunesië</option>
                        <option value="Turkije">Turkije</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks- en Caicoseilanden">Turks- en Caicoseilanden</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Oeganda">Oeganda</option>
                        <option value="Oekraïne">Oekraïne</option>
                        <option value="Verenigde Arabische Emiraten">Verenigde Arabische Emiraten</option>
                        <option value="Verenigd Koninkrijk">Verenigd Koninkrijk</option>
                        <option value="Verenigde Staten">Verenigde Staten</option>
                        <option value="Kleine afgelegen eilanden van de Verenigde Staten">Kleine afgelegen eilanden van de Verenigde Staten</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Oezbekistan">Oezbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Britse Maagdeneilanden">Britse Maagdeneilanden</option>
                        <option value="Amerikaanse Maagdeneilanden">Amerikaanse Maagdeneilanden</option>
                        <option value="Wallis en Futuna">Wallis en Futuna</option>
                        <option value="Westelijke Sahara">Westelijke Sahara</option>
                        <option value="Jemen">Jemen</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                      </select>
                    </p>
                    </fieldset>





                    <p class="form-element">
                    <label for="form-1-input-6" class="form-label">E-mailadres voor de factuur</label>
                    <input type="text" name="E-mailadres_voor_de_factuur" id="form-1-input-6" class="text" autocomplete="billing work email" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-7" class="form-label">Uw kenmerk <em>optioneel, bijvoorbeeld een inkoopnummer</em></label>
                    <input type="text" name="Uw_kenmerk" id="form-1-input-7" class="text" required>
                    </p>
                    <fieldset>
                    <legend><span>Dienstverband of freelance?</span></legend>
                    <ul>
                    <li>
                    <label for="form-1-input-8">
                        <input type="radio" name="Dienstverband_of_freelance" value="Dienstverband" class="radio" id="form-1-input-8" required>
                        Dienstverband
                    </label>
                    </li>
                    <li>
                    <label for="form-1-input-9">
                        <input type="radio" name="Dienstverband_of_freelance" value="Freelance" class="radio" id="form-1-input-9" required>
                        Freelance
                    </label>
                    </li>
                    </ul>
                    </fieldset>
                    <fieldset>
                    <legend><span>Akkoord met <a href="/nl/werk-en-freelance/vacature-plaatsen/voorwaarden">de voorwaarden</a>?</span></legend>
                    <ul>
                    <li>
                    <label for="form-1-input-10">
                        <input type="radio" name="Akkoord_met_bovenstaande_voorwaarden" value="Ja" class="radio" id="form-1-input-10" required>
                        Ja
                    </label>
                    </li>
                    <li>
                    <label for="form-1-input-11">
                        <input type="radio" name="Akkoord_met_bovenstaande_voorwaarden" value="Nee" class="radio" id="form-1-input-11" required>
                        Nee
                    </label>
                    </li>
                    </ul>
                    </fieldset>
                    <p class="form-element">
                    <label for="form-1-input-12" class="form-label">Eventuele opmerkingen of vragen</label>
                    <textarea name="Eventuele_opmerkingen_of_vragen" id="form-1-input-12" cols="50" rows="5" class="small"></textarea>
                    </p> 
                    <p style="display: none;">
                        <label>
                        Vul dit veld niet in als je een mens bent: <input name="bot-field" />
                        </label>
                    </p>
                    <p class="submit">
                        <input type="hidden" name="taal" value="Nederlands">
                        <button class="button-curly-braces">Verstuur</button>
                        <div style="text-align: center">
                            <a href="#" id="emailButton" hidden>
                                of verstuur direct als e-mail
                            </a>
                        </div>
                    </p>
                </fieldset>
                </form>

        </div>
    </main>

    {%- include partials/utility/edit-this-page -%}

    {%- include partials/page-footer/_page-footer -%}

	<script src='/assets/js/generate-email-link.js'></script>
</body>
</html>
