{%- include partials/utility/html-head -%}
<body data-layout="form-membership">
	{%- include partials/page-header/_page-header -%}

	<main id="main" class="{% if useHero %}styledheader{% endif %}">
		{% if useHero == 'aboutushero' %}
			{%- aboutushero title shield -%}
				{{ heroSlogan }}
			{%- endaboutushero -%}
		{% endif %}

		<div class="page-content inner-wrapper">
			{% unless useHero %}
				<h2>{{ title }}</h2>
			{% endunless %}

			{{ content }}

			<form action="/en/join-us/success" method="post" id="formulier-lidmaatschap" netlify-honeypot="bot-field" netlify>
				<fieldset>
					<legend>Your details</legend>
					<p>
					<label for="fronteers-name">Name <em>first and last name, required</em></label>
					<input type="text" class="text" name="naam" id="fronteers-name" autocomplete="name" required>
					</p>
					<p>
					<label for="fronteers-address">Address <em>must be your personal address, required</em></label>
					<textarea name="address" id="fronteers-address" cols="60" rows="5" class="small" autocomplete="street-address" required></textarea>
					</p>

					<p class="form-element">
						<label for="fronteers-city" class="form-label">City</label>
						<input type="text" id="fronteers-city" name="city" autocomplete="address-level2">
					</p>

					<p class="form-element">
						<label for="fronteers-state" class="form-label">State/Province</label>
						<input type="text" id="fronteers-state" name="state" autocomplete="address-level1">
					</p>

					<p class="form-element">
						<label for="fronteers-postal" class="form-label">Postal Code</label>
						<input type="text" id="fronteers-postal" name="postal" autocomplete="postal-code">
					</p>

					<p class="form-element">
						<label for="fronteers-country" class="form-label">Country</label>
						<select id="fronteers-country" name="country" class="form-control" autocomplete="country-name">
							<option value="Netherlands">Netherlands</option>
							<option value="Belgium">Belgium</option>
							<option value="---" disabled>---</option>
							<option value="Afghanistan">Afghanistan</option>
							<option value="Åland Islands">Åland Islands</option>
							<option value="Albania">Albania</option>
							<option value="Algeria">Algeria</option>
							<option value="American Samoa">American Samoa</option>
							<option value="American Virgin Islands">American Virgin Islands</option>
							<option value="Andorra">Andorra</option>
							<option value="Angola">Angola</option>
							<option value="Anguilla">Anguilla</option>
							<option value="Antarctica">Antarctica</option>
							<option value="Antigua and Barbuda">Antigua and Barbuda</option>
							<option value="Argentina">Argentina</option>
							<option value="Armenia">Armenia</option>
							<option value="Aruba">Aruba</option>
							<option value="Australia">Australia</option>
							<option value="Azerbaijan">Azerbaijan</option>
							<option value="Bahamas">Bahamas</option>
							<option value="Bahrain">Bahrain</option>
							<option value="Bangladesh">Bangladesh</option>
							<option value="Barbados">Barbados</option>
							<option value="Belize">Belize</option>
							<option value="Benin">Benin</option>
							<option value="Bermuda">Bermuda</option>
							<option value="Bhutan">Bhutan</option>
							<option value="Bolivia">Bolivia</option>
							<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
							<option value="Botswana">Botswana</option>
							<option value="Bouvet Island">Bouvet Island</option>
							<option value="Brazil">Brazil</option>
							<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
							<option value="British Virgin Islands">British Virgin Islands</option>
							<option value="Brunei">Brunei</option>
							<option value="Bulgaria">Bulgaria</option>
							<option value="Burkina Faso">Burkina Faso</option>
							<option value="Burundi">Burundi</option>
							<option value="Cambodia">Cambodia</option>
							<option value="Canada">Canada</option>
							<option value="Cayman Islands">Cayman Islands</option>
							<option value="Central African Republic">Central African Republic</option>
							<option value="Chile">Chile</option>
							<option value="China">China</option>
							<option value="Christmas Island">Christmas Island</option>
							<option value="Cocos Islands">Cocos Islands</option>
							<option value="Colombia">Colombia</option>
							<option value="Comoros">Comoros</option>
							<option value="Congo">Congo</option>
							<option value="Cook Islands">Cook Islands</option>
							<option value="Costa Rica">Costa Rica</option>
							<option value="Cuba">Cuba</option>
							<option value="Curaçao">Curaçao</option>
							<option value="Cyprus">Cyprus</option>
							<option value="Denmark">Denmark</option>
							<option value="Djibouti">Djibouti</option>
							<option value="Dominica">Dominica</option>
							<option value="Dominican Republic">Dominican Republic</option>
							<option value="Germany">Germany</option>
							<option value="Ecuador">Ecuador</option>
							<option value="Egypt">Egypt</option>
							<option value="El Salvador">El Salvador</option>
							<option value="Equatorial Guinea">Equatorial Guinea</option>
							<option value="Eritrea">Eritrea</option>
							<option value="Estonia">Estonia</option>
							<option value="Eswatini">Eswatini</option>
							<option value="Ethiopia">Ethiopia</option>
							<option value="Faroe Islands">Faroe Islands</option>
							<option value="Falkland Islands">Falkland Islands</option>
							<option value="Fiji">Fiji</option>
							<option value="Philippines">Philippines</option>
							<option value="Finland">Finland</option>
							<option value="France">France</option>
							<option value="French Guiana">French Guiana</option>
							<option value="French Polynesia">French Polynesia</option>
							<option value="French Southern and Antarctic Territories">French Southern and Antarctic Territories</option>
							<option value="Gabon">Gabon</option>
							<option value="Gambia">Gambia</option>
							<option value="Georgia">Georgia</option>
							<option value="Ghana">Ghana</option>
							<option value="Gibraltar">Gibraltar</option>
							<option value="Grenada">Grenada</option>
							<option value="Greece">Greece</option>
							<option value="Greenland">Greenland</option>
							<option value="Guadeloupe">Guadeloupe</option>
							<option value="Guam">Guam</option>
							<option value="Guatemala">Guatemala</option>
							<option value="Guernsey">Guernsey</option>
							<option value="Guinea">Guinea</option>
							<option value="Guinea-Bissau">Guinea-Bissau</option>
							<option value="Guyana">Guyana</option>
							<option value="Haiti">Haiti</option>
							<option value="Heard and McDonald Islands">Heard and McDonald Islands</option>
							<option value="Holy See (Vatican City)">Holy See (Vatican City)</option>
							<option value="Honduras">Honduras</option>
							<option value="Hungary">Hungary</option>
							<option value="Hong Kong">Hong Kong</option>
							<option value="Ireland">Ireland</option>
							<option value="Iceland">Iceland</option>
							<option value="India">India</option>
							<option value="Indonesia">Indonesia</option>
							<option value="Iraq">Iraq</option>
							<option value="Iran">Iran</option>
							<option value="Israel">Israel</option>
							<option value="Italy">Italy</option>
							<option value="Ivory Coast">Ivory Coast</option>
							<option value="Jamaica">Jamaica</option>
							<option value="Japan">Japan</option>
							<option value="Yemen">Yemen</option>
							<option value="Jersey">Jersey</option>
							<option value="Jordan">Jordan</option>
							<option value="Cape Verde">Cape Verde</option>
							<option value="Cameroon">Cameroon</option>
							<option value="Kazakhstan">Kazakhstan</option>
							<option value="Kenya">Kenya</option>
							<option value="Kyrgyzstan">Kyrgyzstan</option>
							<option value="Kiribati">Kiribati</option>
							<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
							<option value="Kuwait">Kuwait</option>
							<option value="Kosovo">Kosovo</option>
							<option value="Croatia">Croatia</option>
							<option value="Laos">Laos</option>
							<option value="Lesotho">Lesotho</option>
							<option value="Latvia">Latvia</option>
							<option value="Lebanon">Lebanon</option>
							<option value="Liberia">Liberia</option>
							<option value="Libya">Libya</option>
							<option value="Liechtenstein">Liechtenstein</option>
							<option value="Lithuania">Lithuania</option>
							<option value="Luxembourg">Luxembourg</option>
							<option value="Macau">Macau</option>
							<option value="Madagascar">Madagascar</option>
							<option value="Malawi">Malawi</option>
							<option value="Maldives">Maldives</option>
							<option value="Malaysia">Malaysia</option>
							<option value="Mali">Mali</option>
							<option value="Malta">Malta</option>
							<option value="Isle of Man">Isle of Man</option>
							<option value="Morocco">Morocco</option>
							<option value="Marshall Islands">Marshall Islands</option>
							<option value="Martinique">Martinique</option>
							<option value="Mauritania">Mauritania</option>
							<option value="Mauritius">Mauritius</option>
							<option value="Mayotte">Mayotte</option>
							<option value="Mexico">Mexico</option>
							<option value="Micronesia">Micronesia</option>
							<option value="Moldova">Moldova</option>
							<option value="Monaco">Monaco</option>
							<option value="Mongolia">Mongolia</option>
							<option value="Montenegro">Montenegro</option>
							<option value="Montserrat">Montserrat</option>
							<option value="Mozambique">Mozambique</option>
							<option value="Myanmar">Myanmar</option>
							<option value="Namibia">Namibia</option>
							<option value="Nauru">Nauru</option>
							<option value="Nepal">Nepal</option>
							<option value="Nicaragua">Nicaragua</option>
							<option value="New Caledonia">New Caledonia</option>
							<option value="New Zealand">New Zealand</option>
							<option value="Niger">Niger</option>
							<option value="Nigeria">Nigeria</option>
							<option value="Niue">Niue</option>
							<option value="North Korea">North Korea</option>
							<option value="North Macedonia">North Macedonia</option>
							<option value="Northern Mariana Islands">Northern Mariana Islands</option>
							<option value="Norway">Norway</option>
							<option value="Norfolk Island">Norfolk Island</option>
							<option value="Uganda">Uganda</option>
							<option value="Ukraine">Ukraine</option>
							<option value="Uzbekistan">Uzbekistan</option>
							<option value="Oman">Oman</option>
							<option value="East Timor">East Timor</option>
							<option value="Austria">Austria</option>
							<option value="Pakistan">Pakistan</option>
							<option value="Palau">Palau</option>
							<option value="Palestine">Palestine</option>
							<option value="Panama">Panama</option>
							<option value="Papua New Guinea">Papua New Guinea</option>
							<option value="Paraguay">Paraguay</option>
							<option value="Peru">Peru</option>
							<option value="Pitcairn">Pitcairn</option>
							<option value="Poland">Poland</option>
							<option value="Portugal">Portugal</option>
							<option value="Puerto Rico">Puerto Rico</option>
							<option value="Qatar">Qatar</option>
							<option value="Réunion">Réunion</option>
							<option value="Romania">Romania</option>
							<option value="Russia">Russia</option>
							<option value="Rwanda">Rwanda</option>
							<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
							<option value="Saint Lucia">Saint Lucia</option>
							<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
							<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
							<option value="Solomon Islands">Solomon Islands</option>
							<option value="Samoa">Samoa</option>
							<option value="San Marino">San Marino</option>
							<option value="São Tomé and Príncipe">São Tomé and Príncipe</option>
							<option value="Saudi Arabia">Saudi Arabia</option>
							<option value="Senegal">Senegal</option>
							<option value="Serbia">Serbia</option>
							<option value="Seychelles">Seychelles</option>
							<option value="Sierra Leone">Sierra Leone</option>
							<option value="Singapore">Singapore</option>
							<option value="Saint Helena">Saint Helena</option>
							<option value="Slovenia">Slovenia</option>
							<option value="Slovakia">Slovakia</option>
							<option value="Sudan">Sudan</option>
							<option value="Somalia">Somalia</option>
							<option value="Spain">Spain</option>
							<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
							<option value="Sri Lanka">Sri Lanka</option>
							<option value="Suriname">Suriname</option>
							<option value="Syria">Syria</option>
							<option value="Tajikistan">Tajikistan</option>
							<option value="Taiwan">Taiwan</option>
							<option value="Tanzania">Tanzania</option>
							<option value="Thailand">Thailand</option>
							<option value="Togo">Togo</option>
							<option value="Tokelau">Tokelau</option>
							<option value="Tonga">Tonga</option>
							<option value="Trinidad and Tobago">Trinidad and Tobago</option>
							<option value="Chad">Chad</option>
							<option value="Czech Republic">Czech Republic</option>
							<option value="Tunisia">Tunisia</option>
							<option value="Turkey">Turkey</option>
							<option value="Turkmenistan">Turkmenistan</option>
							<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
							<option value="Tuvalu">Tuvalu</option>
							<option value="Uruguay">Uruguay</option>
							<option value="Vanuatu">Vanuatu</option>
							<option value="Venezuela">Venezuela</option>
							<option value="United Kingdom">United Kingdom</option>
							<option value="United Arab Emirates">United Arab Emirates</option>
							<option value="United States">United States</option>
							<option value="Vietnam">Vietnam</option>
							<option value="Wallis and Futuna">Wallis and Futuna</option>
							<option value="Western Sahara">Western Sahara</option>
							<option value="Belarus">Belarus</option>
							<option value="Zambia">Zambia</option>
							<option value="Zimbabwe">Zimbabwe</option>
							<option value="South Africa">South Africa</option>
							<option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
							<option value="South Korea">South Korea</option>
							<option value="South Sudan">South Sudan</option>
							<option value="Sweden">Sweden</option>
							<option value="Switzerland">Switzerland</option>
						</select>
					</p>
					<p>
					<label for="fronteers-email">Email Address <em>required</em></label>
					<input type="email" class="text email" name="email" id="fronteers-email" autocomplete="email" required>
					</p>
					<p class="form-inline">
					<label for="fronteers-phone">Phone Number</label>
					<input type="text" class="text" name="telefoon" id="fronteers-phone" inputmode="tel" autocomplete="tel">
					</p>
					<p>
					<label for="fronteers-employer">Employer <em>we will not send the invoice to your employer; you are a personal member</em></label>
					<input type="text" class="text" name="werkgever" id="fronteers-employer">
					</p>
				</fieldset>
				<fieldset>
					<legend><span>Student Membership</span></legend>
					<ul>
					<li>
						<label>
						<input type="checkbox" name="student" id="fronteers-student"> Yes, I am a student at a higher education institution.<br />
						<em>To receive a student discount, you must make proof of enrollment from the higher education institution where you are studying available to the board, either as a scan via <a href="mailto:ledenadministratie@fronteers.nl">email</a>, or by post to P.O. Box 10458, 1001 EL Amsterdam</em>
						</label>
					</li>
					</ul>
				</fieldset>
				<fieldset>
					<legend>Other</legend>
					<p>
					<label for="fronteers-volunteer">Would you like to volunteer as a <a href="/vereniging/vrijwilligers">volunteer</a>? If yes, in what area?</label>
					<textarea name="vrijwilligerswerk" id="fronteers-volunteer" cols="60" rows="5" class="small"></textarea>
					</p>
					<p>
					<label for="fronteers-heard-about">How did you hear about Fronteers?</label>
					<textarea name="via" id="fronteers-heard-about" cols="60" rows="5" class="small"></textarea>
					</p>
					<p>
					<label for="fronteers-expectations">Expectations from the association</label>
					<textarea name="verwachtingen" id="fronteers-expectations" cols="60" rows="5" class="small"></textarea>
					</p>
					<p>
					<label for="fronteers-comments">Other comments or questions</label>
					<textarea name="opmerkingen" id="fronteers-comments" cols="60" rows="5" class="small"></textarea>
					</p>
				</fieldset>
				<fieldset>
					<legend>Finalization</legend>
					<ul>
					<li>
						<label>
						<input type="checkbox" name="ledenlijst" id="fronteers-member-list"> I agree that my name will be published in the <a href="/en/members/">members list</a>
						</label>
					</li>
					</ul>
					<p id="let-op">
					<em>Note: you will receive a manual welcome email within a few days to a week, which you must respond to before you are officially a member. Add @fronteers.nl to your whitelist soon.</em>
					</p>
					<p style="display: none;">
						<label>
						Don't fill this out if you're human: <input name="bot-field" />
						</label>
					</p>
					<p class="submit">
					<input type="hidden" name="taal" value="Nederlands">
					<button class="button-curly-braces">Submit</button>
					<div style="text-align: center">
						<a href="#" id="emailButton" hidden>
							or send directly as an e-mail
						</a>
					</div>
					</p>
				</fieldset>
			</form>


		</div>
	</main>

	{%- include partials/utility/edit-this-page -%}

	{%- include partials/page-footer/_page-footer -%}

	<script src='/assets/js/generate-email-link.js'></script>

</body>
</html>
