{%- include partials/utility/html-head -%}
<body data-layout="form-vacature-plaatsen">
    {%- include partials/page-header/_page-header -%}

    <main id="main" class="{% if useHero %}styledheader{% endif %}">
        {% if useHero == 'aboutushero' %}
            {%- aboutushero title shield -%}
                {{ heroSlogan }}
            {%- endaboutushero -%}
        {% endif %}

        <div class="page-content inner-wrapper">
            {% unless useHero %}
                <h2>{{ title }}</h2>
            {% endunless %}

            {{ content }}

            <form action="/nl/werk-en-freelance/vacature-plaatsen/gelukt" method="post" id="formulier-vacatures" netlify-honeypot="bot-field" netlify>
                <fieldset>
                    <legend>Ik wil een vacature plaatsen</legend>
                    <p class="form-element">
                    <label for="form-1-input-0" class="form-label">Contactpersoon</label>
                    <input type="text" name="Contactpersoon" id="form-1-input-0" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-1" class="form-label">E-mailadres contactpersoon</label>
                    <input type="email" name="E-mailadres_contactpersoon" id="form-1-input-1" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-2" class="form-label">Telefoonnummer</label>
                    <input type="text" name="Telefoonnummer" id="form-1-input-2" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-3" class="form-label">Bedrijfsnaam</label>
                    <input type="text" name="Bedrijfsnaam" id="form-1-input-3" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-4" class="form-label">Mastodon-account bedrijf <em>optioneel</em></label>
                    <input type="text" name="mastodon-account_bedrijf" id="form-1-input-4" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-4" class="form-label">BlueSky-account bedrijf <em>optioneel</em></label>
                    <input type="text" name="bluesky-account_bedrijf" id="form-1-input-4" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-4" class="form-label">Instagram-account bedrijf <em>optioneel</em></label>
                    <input type="text" name="instagram-account_bedrijf" id="form-1-input-4" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-5" class="form-label">Factuuradres</label>
                    <textarea name="Factuuradres" id="form-1-input-5" cols="50" rows="5" class="small" required></textarea>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-6" class="form-label">E-mailadres voor de factuur</label>
                    <input type="text" name="E-mailadres_voor_de_factuur" id="form-1-input-6" class="text" required>
                    </p>
                    <p class="form-element">
                    <label for="form-1-input-7" class="form-label">Uw kenmerk <em>optioneel, bijvoorbeeld een inkoopnummer</em></label>
                    <input type="text" name="Uw_kenmerk" id="form-1-input-7" class="text" required>
                    </p>
                    <fieldset>
                    <legend><span>Dienstverband of freelance?</span></legend>
                    <ul>
                    <li>
                    <label for="form-1-input-8">
                        <input type="radio" name="Dienstverband_of_freelance" value="Dienstverband" class="radio" id="form-1-input-8" required>
                        Dienstverband
                    </label>
                    </li>
                    <li>
                    <label for="form-1-input-9">
                        <input type="radio" name="Dienstverband_of_freelance" value="Freelance" class="radio" id="form-1-input-9" required>
                        Freelance
                    </label>
                    </li>
                    </ul>
                    </fieldset>
                    <fieldset>
                    <legend><span>Akkoord met <a href="/nl/werk-en-freelance/vacature-plaatsen/voorwaarden">de voorwaarden</a>?</span></legend>
                    <ul>
                    <li>
                    <label for="form-1-input-10">
                        <input type="radio" name="Akkoord_met_bovenstaande_voorwaarden" value="Ja" class="radio" id="form-1-input-10" required>
                        Ja
                    </label>
                    </li>
                    <li>
                    <label for="form-1-input-11">
                        <input type="radio" name="Akkoord_met_bovenstaande_voorwaarden" value="Nee" class="radio" id="form-1-input-11" required>
                        Nee
                    </label>
                    </li>
                    </ul>
                    </fieldset>
                    <p class="form-element">
                    <label for="form-1-input-12" class="form-label">Eventuele opmerkingen of vragen</label>
                    <textarea name="Eventuele_opmerkingen_of_vragen" id="form-1-input-12" cols="50" rows="5" class="small"></textarea>
                    </p> 
                    <p style="display: none;">
                        <label>
                        Vul dit veld niet in als je een mens bent: <input name="bot-field" />
                        </label>
                    </p>
                    <p class="submit">
                        <input type="hidden" name="taal" value="Nederlands">
                        <button class="button-curly-braces">Verstuur</button>
                        <div style="text-align: center">
                            <a href="#" id="emailButton" hidden>
                                of verstuur direct als e-mail
                            </a>
                        </div>
                    </p>
                </fieldset>
                </form>

        </div>
    </main>

    {%- include partials/utility/edit-this-page -%}

    {%- include partials/page-footer/_page-footer -%}

	<script src='/assets/js/generate-email-link.js'></script>
</body>
</html>
