{%- include partials/utility/html-head -%}
<body>

    {%- include partials/page-header/_page-header -%}

    <main class="page-content inner-wrapper">
        {% unless useHero %}
            <h2>{{ title }}</h2>
        {% endunless %}  
        {{ content }}
    </main>

    {%- include partials/utility/edit-this-page -%}

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
