{%- include partials/utility/html-head -%}
<body data-layout="jobs-home">
    {%- include partials/page-header/_page-header -%}

    <main class="{% if useHero %}styledheader{% endif %}">
        {%- pagehero 'jobs' title content -%}

        <div class="inner-wrapper">
            {%- include partials/utility/dynamic-category-loop level: "h3" type: "job" typeURL: translations[locale].jobsURL -%}


            <ul class="desktop-rows mobile-slider">
                {%- for job in pagination.items limit:pagination.size -%}
                    <li class="list-item mobile-slider-item">
                        {%- include partials/job headerlvl:"h3" index:forloop.index -%}
                    </li>
                {%- endfor -%}
            </ul>

            {%- include partials/pagination -%}
        </div>
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
