{%- include partials/utility/html-head -%}

<body data-layout="members-home">
    {%- include partials/page-header/_page-header -%}

    <main id="main" class="{% if useHero %}styledheader{% endif %}">
        {%- pagehero 'members' title content -%}
        
        {%- assign sorted_members_list = members-list | sort: 'naam' -%}

        <div data-layout='members-home' class='inner-wrapper'>
            <div class='page-content'>
                <table>
                    <thead>
                        <th scope='col'>Naam</th>
                        <th scope='col'>Werkgever</th>
                    </thead>
                    <tbody>

                {%- for lid in sorted_members_list %}
                    {% unless lid.naam == 'EOF' %}
                        <tr>
                            <td>
                                <div class="has-profile">{%- for member in members -%}
                                    {%- if member.data.title == lid.naam  -%}
                                        {%- assign memberUrl = member.url -%}
                                            <a href='{{ memberUrl }}'> {{ lid.naam }}</a>
                                        
                                    {%- endif -%}
                                    {%- endfor -%}
                                </div>
                                <div class="has-no-profile">
                                    {%- for member in members -%}
                                        {%- if member.data.title != lid.naam  -%}
                                                {{ lid.naam }}
                                            {% break %}
                                        {%- endif -%}
                                    {%- endfor -%}
                                </div>
                            </td>
                            <td>
                                {% if lid.werkgever == '-' %}
                                {% else %}
                                    {{ lid.werkgever }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endunless %}
                {% endfor -%}
            </tbody>
        </table>

        {%- include partials/pagination -%}
        </div>
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
