{%- include partials/utility/html-head -%}

<body>
    {%- include partials/page-header/_page-header -%}

    <main class="page-content inner-wrapper">
        <h2>{{ title }}</h2>
        {{ content }}

        <ul class="desktop-columns mobile-slider">
            {%- for member in paginated_members limit:pagination.size -%}
                <li class="list-item mobile-slider-item">
                    {%- include partials/member index:forloop.index -%}
                </li>
            {%- endfor -%}
        </ul>

        {%- include partials/pagination -%}
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
