{%- include partials/utility/html-head -%}
<body data-layout="page">
    {%- include partials/page-header/_page-header -%}

    <main class="{% if useHero %}styledheader{% endif %}">
        {% if useHero == 'aboutushero' %}
            {%- aboutushero title -%}
                {{ heroSlogan }}
            {%- endaboutushero -%}
        {% endif %}

        <div class="page-content inner-wrapper">
            {% unless useHero %}
                <h2>{{ title }}</h2>
            {% endunless %}

            {{ content }}
        </div>
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
