.tag {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background: var(--lilac);
}

.tag::before,
.tag::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 1em;
  background: var(--lilac);
}

.tag::before {
  left: -1em;
}

.tag::after {
  right: -1em;
}

.tag-angle:before {
  clip-path: polygon(100% 0, 60% 50%, 100% 100%);
}

.tag-angle:after {
  clip-path: polygon(0 0, 40% 50%, 0 100%);
}

.tag + .tag {
  margin-left: 2em;
}
