{% comment %}
    Enables us to set a header level dynamically in every context
{% endcomment %}

{% if level == 'h2' %}<h2>{{ title }}</h2>{% endif %}
{% if level == 'h3' %}<h3>{{ title }}</h3>{% endif %}
{% if level == 'h4' %}<h4>{{ title }}</h4>{% endif %}
