<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fronteers - We unite front-end developers!">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/base.css">
</head>
<body>
<h1>{{ title }}</h1>

{{ content }}
</body>
</html>
