<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/css/base.css">
    </head>
    <body>
        <h1>{{ title }}</h1>

        {{ content }}
    </body>
</html>
