{% include partials/html-head %}


<body>
    <div class="outer-wrapper">
        {% include partials/page-header/_page-header %}

        <main class="page-content inner-wrapper">
            <h2>{{ title }}</h2>
            {{ content }}
            
            {% for post in blogposts reversed %} 
                {% unless post.data.draft == true %}
                    {% include partials/blogpost %}
                {% endunless %}
            {% endfor %}
        </main>
 
        {% include partials/page-footer/_page-footer %}
    </div>
</body>
</html>
