{% include partials/utility/html-head %}
<body>
    <div class="outer-wrapper">
        {% include partials/page-header/_page-header %}

        <main>
            {% include partials/homepage/home-hero 
                blockContent:content %}

            {% if activities.length != 0 %}
                {% include partials/homepage/upcoming-activities headerlvl:"h2" partialTitle:site.nl.blockTitles.upcomingActivities %}
            {% endif %}

            {% include partials/homepage/banner-conference headerlvl:"h2" partialTitle:site.nl.blockTitles.conferenceBanner %}

            {% if blogs.length != 0 %}
                {% include partials/homepage/latest-blogs headerlvl:"h2" partialTitle:site.nl.blockTitles.latestBlogs %}
            {% endif %}

            <!-- {% include partials/homepage/member-special headerlvl:"h2" partialTitle:site.nl.blockTitles.membersSpecial %} -->

            {% if members.length > 0 %}
                {% include partials/homepage/proud-members headerlvl:"h2" partialTitle:site.nl.blockTitles.proudMembers %}
            {% endif %}

            <!-- {% include partials/homepage/banner-join-us headerlvl:"h2" 
                partialTitle:site.nl.blockTitles.joinUs %}  -->

            {% if jobs.length > 0 %}
                {% include partials/homepage/active-vacancies headerlvl:"h2" partialTitle:site.nl.blockTitles.activeVacancies %}
            {% endif %}
        </main>

        {% include partials/page-footer/_page-footer %}
    </div>
</body>
</html>
