/* for inspiration, perhaps also look at    
    src/_includes/partials/homepage/home-hero.css . 
    Or see if you can do it better and apply your learnings there too :-) 
    Check here for the design: 
    https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/f38cbe49-ff62-428b-8bb0-c6c29d831bac/
*/

.jobs-hero {}

.hero-graphic {}

.hero-content {}
