<div class="page-header-logo">
    <h1>
        <a href="{{ '/' | url }}">
            <span class="visually-hidden">{{ title or metadata.title }}</span>
            {% include svg/logo/geel.svg %}
        </a>
    </h1>
</div>
