.home-hero {
  background: url(/assets/images/home-header-background.svg);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: contain;
  margin-block-end: var(--spacing-double);
}

.hero-graphic {
  inline-size: 100%;
  max-width: 41.25rem;
  text-align: center;
  margin: 0px auto;
}

.hero-graphic::after {
  inline-size: 100%;
  block-size: 0;
  padding-block-end: 22.8%;
  content: " ";
  display: block;
  background-color: var(--yellow);
  background-size: cover;
  -webkit-clip-path: url(#curly-brace-down-tiny);
  clip-path: url(#curly-brace-down-tiny);
}

.hero-content > :first-child {
  margin-block-start: 0;
  text-transform: none;
}

.hero-content {
  background-color: var(--yellow);
  padding: var(--spacing);
}

@media all and (min-width: 46.875em) {
  .hero-graphic {
    padding-block-end: 0;
    padding-block-start: var(--spacing-double);
    padding-inline-end: calc(3 * var(--spacing));
    padding-inline-start: calc(3 * var(--spacing));
    background-size: cover;
    -webkit-clip-path: url(#curly-brace-down-large);
    clip-path: url(#curly-brace-down-large);
    inline-size: 100%;
    max-width: 41rem;
    block-size: 19rem;
    background-color: var(--yellow);
  }

  .hero-graphic::after {
    content: none;
  }

  .hero-content {
    background: transparent;
    padding: 0;
  }
}
