.page-header-wrapper {
  background: black;
  color: white;
}

.page-header {
  width: 100%;
  max-width: var(--outer-width);
  position: relative;
  margin: 0 auto;
}

@media all and (min-width: 46.875em) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 40px;
    grid-template-rows: max-content;
    grid-template-areas:
      "join-us     logo        search-and-translate search-and-translate"
      "navigation  navigation  navigation navigation";
    margin-bottom: -2px;
  }
}

.page-header-join-us {
  grid-area: join-us;
}

.page-header-logo {
  grid-area: logo;
}

.page-header-search-and-translate {
  grid-area: search-and-translate;
}

.page-header-translate {
  grid-area: translate;
}

.page-navigation--header {
  grid-area: navigation;
}

.navigation-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
