<div data-partial="page-header/join-us" class="page-header-join-us desktop-only">
    <div class="join-us-link">
        {%- if locale == 'en' -%}
            <a href="/en/join-us">
                Join us!
            </a>
        {%- else -%}
            <a href="/nl/word-lid/">
                Word lid!
            </a>
        {%- endif -%}
        <div></div>
    </div>
</div>
