.page-header-logo {
  text-align: left;
  padding-inline-start: var(--spacing);
}

.page-header-logo h1 {
  margin: 0;
}

.page-header-logo a {
  display: block;
}

.page-header-logo svg {
  max-width: 200px;
  inline-size: 100%;
  block-size: 100%;
  display: block;
}

@media all and (min-width: 46.875em) {
  .page-header-logo {
    text-align: center;
    padding-inline-start: unset;
  }

  .page-header-logo svg {
    max-width: 23.125rem;
  }

  .page-header-logo a {
    display: inline-block;
  }
}
