.no-javascript {
  position: absolute;
  top: var(--spacing-half);
  right: var(--spacing-half);
}

#navigation,
.navigation-closed #navigation {
  transform: translateX(200vw);
  transition: transform 0.3s ease-out;
  visibility: hidden;
  padding-inline-start: var(--spacing-half);
  position: absolute;
  z-index: 10;
  width: 100%;
}

#navigation:target,
.navigation-opened #navigation {
  transform: translateX(0);
  visibility: inherit;
  transition: transform 0.3s ease-in;
  scroll-margin-top: 8rem;
  position: absolute;
  z-index: 10;
}

@media all and (min-width: 46.875em) {
  #navigation,
  .navigation-closed #navigation {
    transform: none;
    display: inherit;
    visibility: inherit;
    position: inherit;
    padding-inline-start: inherit;
  }
}

#load-on-javascript button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 26px;
  position: absolute;
  top: var(--spacing-half);
  right: var(--spacing);
}

/* Make mobile navigation scrollable */

#navigation-close,
.navigation-opened #navigation-open {
  display: none;
}

.navigation-opened #navigation-close {
  display: block;
}
.navigation-opened {
  overflow: hidden;
}

.navigation-opened .page-header-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.navigation-opened .page-navigation {
  overflow: auto;
  height: calc(100vh - 78px);
}
