.no-javascript {
  position: absolute;
  top: var(--spacing-half);
  right: var(--spacing-half);
}

#navigation {
    grid-area: navigation;
}

#navigation,
.navigation-closed #navigation {
    display: none;
}

.navigation-opened #navigation {
    display: block;
}

#load-on-javascript button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  width: 26px;
  height: 26px;
  position: absolute;
  top: var(--spacing-half);
  right: var(--spacing);
  z-index: 10;
}

#load-on-javascript button:hover,
#load-on-javascript button:focus {
    outline: 1px solid white;
    outline-offset: 5px;
}

#navigation-toggle .navigation-close-icon,
.navigation-opened #navigation-toggle .navigation-open-icon {
  display: none;
}

.navigation-opened #navigation-toggle .navigation-close-icon {
  display: block;
}

.navigation-opened .page-header-wrapper {
  z-index: 100;
}

.navigation-opened .page-header-logo {
  background-color: black;
  height: 3rem;
}

.navigation-opened .navigation-list-item--toplevel > a {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
  outline-offset: -2px;
}

.navigation-submenu-toggle[aria-expanded="true"] + .navigation-list--sublevel {
    display: block;
    width: 100%;
}

.navigation-submenu-toggle[aria-expanded="false"] + .navigation-list--sublevel {
    display: none;
}
