.page-header-translate {
  position: relative;
  margin-inline-start: auto;
  padding-block-start: var(--spacing);
  padding-block-end: var(--spacing);
  padding-inline-end: var(--spacing);
  text-align: right;
  z-index: 20;
}

@media all and (min-width: 60.125em) {
  .page-header-translate {
    position: relative;
  }
}

.languageLabel {
  text-transform: uppercase;
}

.page-header-translate ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.page-header-translate li {
  display: inline-block;
}

.page-header-translate li:first-child::after {
  content: "|";
}

.page-header-translate li:last-child a {
    padding-inline-end: 0;
}

.page-header-translate .navigation-link:not([aria-current]) {
  text-decoration: underline;
  color: var(--yellow);
  font-size: var(--font-size-20);
  font-weight: bold;
}

.page-header-translate .navigation-link[aria-current="page"] {
  color: #fff;
  text-decoration: none;
}

.page-header-translate .navigation-link {
  font-size: var(--font-size-20);
  padding: var(--spacing-half);
}

.page-header-translate .navigation-link:hover,
.page-header-translate .navigation-link:focus {
  background-color: transparent;
}

.page-header-translate .navigation-link:hover .languageLabel,
.page-header-translate .navigation-link:focus .languageLabel {
  text-decoration: underline;
}

@media all and (min-width: 60.125em) {
  .page-header-translate {
    padding-block-start: var(--spacing);
    padding-block-end: 0;
  }
}
