{% for lgg in site.languages %}
    {% if loop.first %}<ul>{% endif %}

    {% assign translatedUrl = "/" + lgg.code + "/" %}

    {% assign activeClass = "is-active" if lgg.code == locale else "" %}

    {% if lgg.code == locale %}
        {% assign currentLabel = true %}
    {% else %}
        {% assign false = true %}
    {% endif %}

    {% for item in collections.all %}

    {% if item.data.key == key and item.data.locale == lgg.code %}
        {% assign translatedUrl = item.url %}
    {% endif %}

    {% endfor %}

    <li class="c-lggnav__item">
        <a class="c-lggnav__link  {{ activeClass }}" href="{{ translatedUrl }}">
            <span class="visually-hidden">{{ lgg.currentLabel }}</span>
            {{ lgg.label }}
        </a>
    </li>

  {% if loop.last %}</ul>{% endif %}
{% endfor %}
