.page-header-translate {
  text-transform: uppercase;
  margin-inline-start: auto;
  padding-block-start: var(--spacing-half);
  padding-block-end: var(--spacing-half);
  text-align: right;
}

.page-header-translate ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.page-header-translate li {
  display: inline-block;
}

.page-header-translate li:first-child span,
.page-header-translate li:first-child a {
  padding-inline-end: var(--spacing-half);
}

.page-header-translate li:last-child span,
.page-header-translate li:last-child a {
  padding-inline-start: var(--spacing-half);
}

.page-header-translate li:first-child::after {
  content: "|";
}

.page-header-translate a {
  text-decoration: none;
  padding: var(--spacing);
  color: var(--yellow);
  font-size: var(--font-size-20);
  font-weight: bold;
}

.page-header-translate span {
  padding: var(--spacing);
  font-size: var(--font-size-20);
}

.page-header-translate a:hover,
.page-header-translate a:focus {
  background-color: transparent;
}

@media all and (min-width: 46.875em) {
  .page-header-translate {
    padding-block-start: var(--spacing);
    padding-block-end: 0;
  }
}
