{% if footer_sub_navigation.length > 0 %}
    <ul class="navigation-list navigation-list--sublevel">
        {%- for subitem in footer_sub_navigation -%}
            {% if subitem.data.parent == key %}
                <li class="navigation-list navigation-list-item--sublevel">
                    <a href="{{ subitem.url }}" 
                        {% if subitem.url == page.url %}aria-current="page"{% endif %}
                    >
                        {{ subitem.data.title }}
                    </a>
                </li>
            {% endif %}
        {%- endfor -%}
    </ul>
{% endif %}
