<nav class="page-navigation page-navigation--footer">
    <h2 class="visually-hidden">Footer navigation</h2>
    <ul class="navigation-list navigation-list--toplevel">
        {% for item in footer_navigation %}
            <li class="navigation-list-item navigation-list-item--toplevel">
                <a href="{{ item.url }}" 
                    {% if item.url == page.url %}aria-current="page"{% endif %}
                >
                    {{ item.data.title }}
                </a>
                
                {% include partials/page-footer/navigation-sub key:item.data.page-footer-navigation.key %}
            </li>
        {% endfor %}
    </ul>
</nav>
