<!-- variant of src/_includes/partials/homepage/home-hero.liquid.
    Take a look at that one, to see if it's more recent/better, or 
    could benefit from anything you learned here :-)  
    Check here for the design: https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/bd345fab-b868-4180-8bb3-05f62375d54d/ -->

<section class="outer-wrapper about-us-hero">
    <div class="hero-graphic">
        <div class="hero-content">
            {{ blockContent }}
        </div>
    </div>
</section>
