<footer class="page-footer">
    <h2 class="visually-hidden">Social media</h2>
    <ul class="desktop-columns">
        <li>
            <div class="social-media-header">
                <img src="/assets/images/icon_slack.svg" class="social-media-logo social-media-logo-slack" 
                alt="" />
                <span class="social-media-title">Slack</span>
            </div>
            <p>
                The Fronteers community is highly active on Slack. <a href="https://fronteers-slack.herokuapp.com">Sign up<span class="visually-hidden"> to the Fronteers Slack</span></a> and join the conversation about everything related to front-end development.
           </p>
        </li>
        <li>
            <div class="social-media-header">
                <img src="/assets/images/icon_twitter.svg" class="social-media-logo social-media-logo-twitter" 
                alt="" />
                <span class="social-media-title">Twitter</span>
            </div>
            <p>You can follow us through <a href="https://twitter.com/fronteers">@Fronteers on Twitter</a>. Questions and comments via that medium are welcome.
            </p>
        </li>
        <li>
            <div class="social-media-header">
                <img src="/assets/images/icon_linkedin.svg" class="social-media-logo social-media-logo-linkedin"
                alt="" />
                <span class="social-media-title">LinkedIn</span>
            </div>
            <p>Join our network on LinkedIn and see what's happening.</p>
        </li>
        <li>
            <p class="footer-join-us"><strong>Hey front-ender!<br /> 
                Join the force and become a fronteer!</strong></p>
            <p class="footer-join-us-link"><a href="{{ locale }}/join-us/" class="button button-parentheses">Join us</a></p>
        </li>
    </ul>

    {% include partials/navigation where:"footer" description:"Footer navigation" toplevelloop:footer_navigation sublevelloop:footer_sub_navigation %}

    <script src="/assets/js/page-navigation.js"></script>
</footer>
