.page-navigation {
    background: black;
    font-size: var(--font-size-18);
    font-weight: bold;
}
 
.page-navigation h2 {
    text-transform: none;
}

.page-navigation .navigation-list {
    list-style-type: none;
    margin: 0;
    padding-inline: 0;
}

.page-navigation > .navigation-list {
    width: 100%; 
    padding-block: var(--spacing);
}

@media all and (max-width: 60.124em) {
    .page-navigation > .navigation-list {
        padding-block: 0;
    }
}

.navigation-list-item--toplevel {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--spacing-half);
    flex-wrap: wrap;
}

.page-navigation a {
    color: white;
    text-decoration: none;
    padding: var(--spacing-half);
    display: block;
}

.page-navigation a:hover,
.page-navigation a:focus-visible {
    background-color: unset;
    color: var(--yellow);
    text-decoration: underline;
}

.page-navigation a:focus {
    outline-offset: -6px;
}

a:has(+ .navigation-list a[aria-current]),
a[aria-current='page'] {
    color: var(--lilac);
    text-decoration: underline;
}

.navigation-list--sublevel a {
    padding-inline-start: 30px;
    position: relative;
    font-weight: normal;
}

.navigation-list--sublevel :is(a:hover, a:active, a:focus, button:hover, button:active, button:focus) {
    background-color: unset;
    color: var(--yellow);
    outline-offset: -2px;
}

.navigation-list--sublevel :is(a:focus, button:focus) {
    outline: 2px solid currentColor;
}

.navigation-list--sublevel a:before {
    content: ' ';
    position: absolute;
    block-size: 1rem;
    inline-size: 2rem;
    background: url(/assets/images/chevron-right-white.svg) no-repeat center
        center;
    transition: var(--transition-out);
    display: inline-block;
    margin-inline-end: 5px;
    top: 0.85rem;
    left: 0;
    background-size: 50% auto;
}

.navigation-list--sublevel a[aria-current='page']:before {
    background: url(/assets/images/chevron-right-lilac.svg) no-repeat center
        center;
    background-size: 50% auto;
}

.navigation-list--sublevel a[aria-current='page'] {
    text-decoration: underline;
}

.navigation-list--sublevel :is(a:hover, a:active, a:focus):before {
    background-image: url(/assets/images/chevron-right-yellow.svg);
}

.navigation-list--sublevel {
    padding-inline-start: var(--spacing);
    list-style-type: none;
}

@media all and (min-width: 60.124em) {
  .navigation-list--sublevel {
    padding-inline-start: 0;
  }
}

.navigation-submenu-toggle {
    background: transparent;
    border: none;
    padding: var(--spacing-half);
}

.navigation-list-item--toplevel.open .navigation-submenu-toggle {
    transform: scaleY(-1);
}

@media all and (min-width: 60.125em) {
    .page-navigation {
        font-size: var(--font-size-20);
    }

    .page-navigation .navigation-list--toplevel {
        display: flex;
        align-content: center;
        position: relative;
        padding-block: 0;
    }

    .page-navigation--header .navigation-list--toplevel {
        justify-content: center;
    }

    .page-navigation--footer .navigation-list--toplevel {
        justify-content: center;
    }

    .navigation-list--sublevel {
        display: none;
        padding: 0 var(--spacing);
        margin: 0;
        background: black;
        position: absolute;
        top: 100%;
        z-index: 5;
        min-width: 300px;
    }

    .page-navigation--footer .navigation-list--sublevel {
        top: auto;
        bottom: 100%;
    }

    /* li:hover > .navigation-list--sublevel:not(:empty),
    a:hover + .navigation-list--sublevel:not(:empty),
    a:focus + .navigation-list--sublevel:not(:empty),
    .navigation-list-item--toplevel:focus-within
        .navigation-list--sublevel:not(:empty) {
        display: block;
    } */
}
