<footer class="page-footer">
    <div>
        Slack
    </div>
    <div>
        Twitter
    </div>
    <div>
        LinkedIn
    </div>
    <div>
        <p>Hey front-ender! Join the force and become a fronteer!</p>
        <button>Join us</button>
    </div>
    {% include page-footer/navigation %}
</footer>
