.page-footer {
  background: var(--lilac);
  color: black;
}

.page-footer .list-columns {
  list-style-type: none;
}

@media all and (min-width: 500px) {
  .page-footer .list-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--spacing);
  }
}

.page-footer .list-columns li {
  padding: var(--spacing) 0;
}

.page-footer .list-columns li:last-child {
  padding-right: var(--spacing);
}

.page-footer .page-navigation {
  width: 100%;
}

.social-medium {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-24) / 29px var(--unnamed-font-family-fabrik);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 24px/29px Fabrik;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}
