<footer class="page-footer">
    <h2 class="visually-hidden">Social media</h2>
    <ul class="list-columns">
        <li>
            <span class="social-medium">Slack</span>
            <p>
                The Fronteers community is highly active on Slack. <a href="https://fronteers-slack.herokuapp.com">Sign up <span class="visually-hidden">to the Fronteers Slack</span></a> and join the conversation about everything related to front-end development.
           </p>
        </li>
        <li>
            <span class="social-medium">Twitter</span>
            <p>You can follow us through <a href="https://twitter.com/fronteers">@Fronteers on Twitter</a>. Questions and comments via that medium are welcome.
            </p>
        </li>
        <li>
            <span class="social-medium">LinkedIn</span>
            <p>Join our network on LinkedIn and see what's happening.</p>
        </li>
        <li>
            <p><strong>Hey front-ender! Join the force and become a fronteer!</strong></p>
            <button>Join us</button>
        </li>
    </ul>
    {% include page-footer/navigation %}
</footer>
