<nav class="page-footer-navigation">
    <ul role="list">
        <li>
            Home
        </li>
        <li>
            Contact
        </li>
        <li>
            Members
        </li>
        <li>
            ...
        </li>
        <li>
            ...
        </li>
    </ul>
</nav>
