/* navigation */

.page-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 500px) {
  .page-navigation ul {
    display: flex;
    justify-content: center;
  }
}

.page-navigation li {
  display: inline-block;
  padding: var(--spacing);
}

.page-navigation li > button,
.page-navigation li > ul {
  display: none;
}

.page-navigation a {
  color: white;
}
