.page-footer {
  background: black;
  color: white;
}

/** Navigation **/

.page-footer-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.page-footer-navigation li {
  display: inline-block;
}
