.page-header {
  display: grid;
  background: black;
  color: white;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "join-us     logo        search-and-translate"
    "navigation  navigation  navigation";
}

.page-header-join-us {
  grid-area: join-us;
  text-align: center;
}

/** Translation **/

.page-header-logo {
  grid-area: logo;
}

.page-header-logo h1 {
  margin: 0;
  text-align: center;
}

.page-header-logo a {
  display: inline-block;
}

/** Search & Translate **/

.page-header-search-and-translate {
  grid-area: search-and-translate;
}

/** Translation **/

.page-header-translate {
  grid-area: translate;
}

.page-header-translate ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/** Navigation **/

.page-header-navigation {
  grid-area: navigation;
}

.page-header-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-header-navigation li {
  display: inline-block;
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
}

.page-header-navigation li > button,
.page-header-navigation li > ul {
  display: none;
}

.page-header-navigation a {
  color: white;
}
