h1 {
  font-size: 2.5rem;
  line-height: 1.275;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  color: var(--purple);
}

a:hover,
a:focus {
  color: white;
  background-color: var(--purple);
  text-decoration: none;
}
