.activity {
  background-color: white;
  block-size: 100%;
  display: flex;
  flex-direction: column;
}

.activity .h {
  font-family: var(--font-family-decoration);
  font-weight: bold;
  font-size: var(--font-size-24);
  line-height: 1.25em;
  margin: 0;
  text-transform: none;
}

.activity-time {
  font-family: var(--font-family-content);
  font-weight: normal;
  font-size: var(--font-size-18);
  line-height: 1.33;
}

.activity-header-content {
  background: var(--yellow);
  inline-size: 100%;
  margin: 0px auto;
  padding: var(--spacing);
  padding-block-end: 0;
  display: flex;
  flex-direction: column;
  height: 9rem;
}

/* Clamp heading to three lines */
.activity-header-content .h {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin-block-end: var(--spacing-half);
}

.activity--1 .activity-header-content {
  background-color: var(--yellow);
}

.activity--1 .activity-header::after{
  inline-size: 100%;
  block-size: 0;
  padding-block-end: 22.8%;
  content: " ";
  display: block;
  background-color: var(--yellow);
  background-size: cover;
  -webkit-clip-path: url(#parenthesis-down-tiny);
  clip-path: url(#parenthesis-down-tiny);
  margin-top: -1px;
}

.activity--2 .activity-header-content {
  background-color: var(--red);
}

.activity--2 .activity-header::after {
  inline-size: 100%;
  block-size: 0;
  padding-block-end: 22.8%;
  content: " ";
  display: block;
  background-color: var(--red);
  background-size: cover;
  -webkit-clip-path: url(#greater-than-down-tiny);
  clip-path: url(#greater-than-down-tiny);
  margin-top: -1px;
}

.activity--0 .activity-header-content {
  background-color: var(--lilac);
}

.activity--0 .activity-header::after {
  inline-size: 100%;
  block-size: 0;
  padding-block-end: 22.8%;
  content: " ";
  display: block;
  background-color: var(--lilac);
  background-size: cover;
  -webkit-clip-path: url(#curly-brace-down-tiny);
  clip-path: url(#curly-brace-down-tiny);
  margin-top: -1px;
}

.activity-content {
  padding: var(--spacing);
  padding-block-start: 0;
  display: flex;
  flex-direction: column; 
  min-height: 19rem;
}

.activity-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  margin: 1rem 0;
  min-height: 12rem;
}

.activity-location {
  display: flex;
  align-items: flex-start;
  color: var(--purple-wcag-darker);
  text-transform: capitalize;
  margin-top: auto;
}

.activity-location svg {
  margin-inline-end: var(--spacing-half);
}

.activity-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-block-start: auto;
}

@media all and (min-width: 46.875em) {
    .activity-header-content { 
        height: 9rem; 
    }
}
