.blog {
  background: white;
  display: flex;
  block-size: 100%;
  flex-direction: column;
}

@media (min-width: 54.875em) {
    .blog {
        max-height: 340px;
    }

}

.blog-graphic-wrapper {
  block-size: 200px;
}

.blog-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  font-size: var(--font-size-18);
}

.blog-content-wrapper .h {
  margin: 0;
}

.blog-graphic {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-1 .blog-graphic {
  -webkit-clip-path: url(#greater-than-down-small);
  clip-path: url(#greater-than-down-small);
}

.blog-2 .blog-graphic {
  -webkit-clip-path: url(#curly-brace-down-small);
  clip-path: url(#curly-brace-down-small);
}

.blog-3 .blog-graphic {
  -webkit-clip-path: url(#parenthesis-down-small);
  clip-path: url(#parenthesis-down-small);
}

.blog-content {
  padding: var(--spacing);
  padding-block-end: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blog-content p {
  margin-block-end: 0;
}

.blog-summary {
  font-size: var(--font-size-18);
  line-height: 1.5;
    overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.blog-meta {
  padding: var(--spacing);
  padding-block-start: 0;
  margin-top: var(--spacing);
}

.blog-author {
  padding-inline-end: var(--spacing);
}

.blog-time {
  padding-inline-end: var(--spacing);
}

.blog .button-readmore {
  margin-inline-start: auto;
}

.blog-tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: var(--spacing);
  margin-block-end: var(--spacing);
}

.blog-tags li {
  display: inline-block;
}

@media all and (min-width: 46.875rem) {
  .blog {
    flex-direction: row;
  }

  .blog-graphic-wrapper {
    block-size: 100%;
    inline-size: 100%;
    flex: 0 0 300px;
    text-align: center;
    background-size: cover;
    max-width: 300px;
  }

  .blog-summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }

  .blog-meta {  
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-block-end: 0;
    margin-block-start: var(--spacing);
    margin-block-end: var(--spacing);
  }

  .blog-tags {
    margin: 0;
  }

  .blog-1 .blog-graphic {
    -webkit-clip-path: url(#greater-than-right-small);
    clip-path: url(#greater-than-right-small);
  }

  .blog-2 .blog-graphic {
    -webkit-clip-path: url(#curly-brace-right-small);
    clip-path: url(#curly-brace-right-small);
  }

  .blog-3 .blog-graphic {
    -webkit-clip-path: url(#parenthesis-right-small);
    clip-path: url(#parenthesis-right-small);
  }
}

@media all and (min-width: 52.875rem) {
    .blog-summary {
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }
}

@media all and (min-width: 54.875rem) {
    .blog-summary { 
        -webkit-line-clamp: 5;
        line-clamp: 5;
    }

    .blog-meta {
        margin-block-start: 0;
    }
}

@media all and (min-width: 60.875rem) {
  .blog-summary { 
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
}
