.job {
  background: white;
  block-size: 100%;
  display: flex;
  flex-direction: column;
}

.job-graphic {
  block-size: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  inline-size: 100%;
  text-align: center;
  background-size: cover;
}

.job-1 .job-graphic {
  -webkit-clip-path: url(#greater-than-down-small);
  clip-path: url(#greater-than-down-small);
}

.job-2 .job-graphic {
  -webkit-clip-path: url(#curly-brace-down-small);
  clip-path: url(#curly-brace-down-small);
}

.job-3 .job-graphic {
  -webkit-clip-path: url(#parenthesis-down-small);
  clip-path: url(#parenthesis-down-small);
}

.job-graphic img {
  max-width: 75%;
  max-height: 75%;
  mix-blend-mode: multiply;
}

.job-content {
  padding: var(--spacing);
  padding-block-end: 0;
}

.job-content .h {
  margin: 0;
}

.job-content .h + p {
  margin-block-start: 0;
}

.job-summary {
  font-size: var(--font-size-18);
  line-height: 1.5;
}

.job-meta {
  padding-inline-start: var(--spacing);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.job-byline {
  margin: 0;
}

.job-readmore {
  margin-inline-start: auto;
  margin-block-start: auto;
}

.job-tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-end: var(--spacing);
}

.job-tags li {
  display: inline-block;
}

@media all and (min-width: 46.875em) {
  .job {
    flex-direction: row;
    min-height: 190px;
    position: relative;
  }

  .job-graphic {
    flex: 0 0 300px;
    min-height: 200px;
    text-align: center;
    background-size: cover;
  }

  .job-1 .job-graphic {
    -webkit-clip-path: url(#greater-than-right-small);
    clip-path: url(#greater-than-right-small);
  }

  .job-2 .job-graphic {
    -webkit-clip-path: url(#curly-brace-right-small);
    clip-path: url(#curly-brace-right-small);
  }

  .job-3 .job-graphic {
    -webkit-clip-path: url(#parenthesis-right-small);
    clip-path: url(#parenthesis-right-small);
  }

  .job-content p:last-child {
    margin-block-end: 0;
  }

  .job-meta {
    padding-inline-start: 0;
    justify-content: flex-start;
  }

  .job-readmore {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
