.job {
  background: white;
  display: flex;
  block-size: 100%;
  flex-direction: column;
}

@media (min-width: 54.875em) {
    .job {
        max-height: 340px;
    }
}

.job-graphic-wrapper {
  block-size: 200px;
}

.job-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  font-size: var(--font-size-18);
}

.job-content-wrapper .h {
  margin: unset;
}

.job-graphic {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.job-1 .job-graphic,
.job-4 .job-graphic {
  -webkit-clip-path: url(#greater-than-down-small);
  clip-path: url(#greater-than-down-small);
}

.job-2 .job-graphic,
.job-5 .job-graphic {
  -webkit-clip-path: url(#curly-brace-down-small);
  clip-path: url(#curly-brace-down-small);
}

.job-3 .job-graphic,
.job-6 .job-graphic {
  -webkit-clip-path: url(#parenthesis-down-small);
  clip-path: url(#parenthesis-down-small);
}

.job-content {
  padding: var(--spacing);
  padding-block-end: unset;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.job-content p {
  margin-block-end: unset;
}

.job-summary {
  font-size: var(--font-size-18);
  line-height: 1.5;
    overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.job-meta {
  padding: var(--spacing);
  padding-block-start: unset;
  margin-top: var(--spacing);
}

.job-author {
  padding-inline-end: var(--spacing);
}

.job-time {
  padding-inline-end: var(--spacing);
}

.job .button-readmore {
  margin-inline-start: auto;
}

.job-tags {
  list-style-type: none;
  margin: unset;
  padding: unset;
  margin-block-start: var(--spacing);
  margin-block-end: var(--spacing);
}

.job-tags li {
  display: inline-block;
}

@media all and (min-width: 46.875rem) {
  .job {
    flex-direction: row;
  }

  .job-graphic-wrapper {
    block-size: 100%;
    inline-size: 100%;
    flex: 0 0 300px;
    text-align: center;
    background-size: cover;
    max-width: 300px;
  }

  .job-summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }

  .job-meta {  
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-block-end: unset;
    margin-block-start: var(--spacing);
    margin-block-end: var(--spacing);
  }

  .job-tags {
    margin: unset;
  }

  .job-1 .job-graphic,
  .job-4 .job-graphic {
    -webkit-clip-path: url(#greater-than-right-small);
    clip-path: url(#greater-than-right-small);
  }

  .job-2 .job-graphic,
  .job-5 .job-graphic {
    -webkit-clip-path: url(#curly-brace-right-small);
    clip-path: url(#curly-brace-right-small);
  }

  .job-3 .job-graphic,
  .job-6 .job-graphic {
    -webkit-clip-path: url(#parenthesis-right-small);
    clip-path: url(#parenthesis-right-small);
  }
}

@media all and (min-width: 52.875rem) {
    .job-summary {
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }
}

@media all and (min-width: 54.875rem) {
    .job-summary { 
        -webkit-line-clamp: 5;
        line-clamp: 5;
    }

    .job-meta {
        margin-block-start: unset;
    }
}

@media all and (min-width: 60.875rem) {
  .job-summary { 
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
}
