.member {
  block-size: 100%;
  background-color: white;
}

.member-graphic {
  inline-size: 150px;
  block-size: 150px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  object-fit: cover;
}

.member-header {
  text-align: center;
  position: relative;
  z-index: 2;
  display: block;
  inline-size: 100%;
  min-height: 250px;
  flex: 0 0 0;
  -webkit-clip-path: url(#curly-brace-down-small);
  clip-path: url(#curly-brace-down-small);
}

.member-header-1 {
  background: linear-gradient(
    180deg,
    var(--page-background) 0%,
    var(--page-background) 30%,
    var(--red) 30%,
    var(--red) 100%
  );
}

.member-header-2 {
  background: linear-gradient(
    180deg,
    var(--page-background) 0%,
    var(--page-background) 30%,
    var(--lilac) 30%,
    var(--lilac) 100%
  );
}

.member-header-3 {
  background: linear-gradient(
    180deg,
    var(--page-background) 0%,
    var(--page-background) 30%,
    var(--yellow) 30%,
    var(--yellow) 100%
  );
}

.member-content {
  background-color: white;
  padding: var(--spacing);
}

@media all and (min-width: 46.875em) {
  .member {
    background: transparent;
  }

  .member-content {
    -webkit-clip-path: url(#parenthesis-down-small);
    clip-path: url(#parenthesis-down-small);
    position: relative;
    top: -40px;
    padding: calc(var(--spacing) * 2) var(--spacing);
    min-height: 200px;
  }

  .member:hover .member-content,
  .member:focus .member-content {
    z-index: 1;
  }

  /* duplicate, to avoid issues in IE11 */
  .member:focus-within .member-content {
    z-index: 1;
  }
}
