/* 
    Check here for an example of the pagination.
    Right now, the code supports a very simple pagination with 
    `previous` and `next` links. Perhaps it's best to put
    temporary styling on it with the flavor of the design,
    and make a note to discuss this with Ready for Take-Off, our designers.
    Add any notes here: https://github.com/fronteers/website/issues/79 

    Example of the design for pagination can be found here:
    https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/f38cbe49-ff62-428b-8bb0-c6c29d831bac/
*/
.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  padding-block: var(--spacing-double);
}

.pagination__item {
  padding: var(--spacing-half) var(--spacing);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-12);
  line-height: 1.2;
  display: inline-block;
}

@media (min-width: 20em) {
  .pagination__item {
    font-size: var(--font-size-16);
  }
}

@media all and (min-width: 46.875em) {
  .pagination__item {
    font-size: var(--font-size-20);
  }
}

.pagination__item--disabled {
  color: black;
  cursor: not-allowed;
}

.pagination__page-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.pagination__page-list-items {
  margin: 1em;
}

.pagination__page-number {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 0.5em;
  margin: -0.5em;
}

.pagination__page-number:hover {
  color: black;
  background-color: transparent;
  font-weight: bold;
}

.pagination__page-number--active {
  position: relative;
  font-weight: bold;
  border-bottom: 2px solid black;
  z-index: 1;
}

.pagination__page-number--active:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -12px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

